[data-amplify-authenticator] {
  margin-left: auto;
  margin-right: auto;
  max-width: 36rem;
  overflow: hidden;
  border-radius: 0.375rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgba(55, 65, 81, var(--tw-text-opacity));
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
}

[data-amplify-wrapper] [data-amplify-heading] {
  margin-bottom: 0px;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

[data-amplify-authenticator] [data-amplify-form] {
  display: grid;
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  padding: 2rem;
}

[data-amplify-wrapper] [data-amplify-label] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

[data-amplify-confirmationcode] {
  display: grid;
}

[data-amplify-wrapper] [data-amplify-password] [data-amplify-box] {
  display: flex;
  flex-direction: row;
}

[data-amplify-wrapper]
  [data-amplify-password]
  [data-amplify-box]
  > :not([hidden])
  ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.25rem * var(--tw-space-x-reverse));
  margin-left: calc(0.25rem * calc(1 - var(--tw-space-x-reverse)));
}

[data-amplify-wrapper]
  [data-amplify-password]
  [data-amplify-box]
  [data-amplify-text] {
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgba(107, 114, 128, var(--tw-text-opacity));
}

[data-amplify-wrapper]
  [data-amplify-password]
  [data-amplify-box]
  [data-amplify-button] {
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgba(59, 130, 246, var(--tw-text-opacity));
}

[data-amplify-wrapper] [data-amplify-footer] [data-amplify-text] {
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgba(107, 114, 128, var(--tw-text-opacity));
}

[data-amplify-wrapper]
  [data-amplify-footer]
  [data-amplify-button]:first-of-type {
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgba(59, 130, 246, var(--tw-text-opacity));
}

[data-amplify-wrapper]
  [data-amplify-footer]
  [data-amplify-button]:last-of-type {
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgba(55, 65, 81, var(--tw-bg-opacity));
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

[data-amplify-authenticator] :disabled {
  opacity: 0.5;
  cursor: initial;
}

[data-ui-error] {
  color: orangered;
}

[data-amplify-wrapper] [data-amplify-federated] {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}

[data-amplify-wrapper] [data-amplify-federated] [data-amplify-button] {
  border-radius: 0.5rem;
  background-color: transparent;
  padding: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgba(59, 130, 246, var(--tw-text-opacity));
}

[data-amplify-button] {
  cursor: pointer;
}

[data-amplify-strike] {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #c4c4c4;
  line-height: 0.1em;
  margin: 32px 0;
  color: #828282;
}

[data-amplify-strike] [data-amplify-spacer] {
  background: white;
  padding: 0 25px;
  font-size: 14px;
  font-weight: 500;
}

[data-amplify-wrapper] [data-amplify-verify-label] {
  display: flex;
}

[data-amplify-wrapper] [data-amplify-verify-input] {
  width: initial;
}

.federated-sign-in-button {
  border-color: black;
  border-radius: 0;
  color: black;
}

.federated-sign-in-button-row {
  position: relative;
}

.federated-sign-in-icon {
  position: absolute;
  left: 0;
}
