[data-spark-theme] [data-spark-button] {
  background-color: skyblue;
}

#my-authenticator [data-spark-header] {
  width: fit-content;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid cornflowerblue;
}

#my-authenticator [data-spark-button] {
  background-color: inherit;
  color: black;
  border-bottom: 1px solid cornflowerblue;
  border-width: 1px;
}
