.storage-browser {
  --storage-browser-gap-small: 0.375rem;
  --storage-browser-gap: 0.6rem;
  --storage-browser-gap-large: 1.2rem;
  --storage-browser-status-error: hsl(0, 95%, 30%);
  --storage-browser-status-success: hsl(130, 33%, 37%);
  --storage-browser-status-progress: hsl(220, 95%, 30%);
  --storage-browser-status-initial: hsl(210, 10%, 58%);
  --storage-browser-loading-animation: spin 1s ease-out infinite;
  --storage-browser-error-background: hsl(0, 75%, 95%);
  --storage-browser-error-text: hsl(0, 100%, 20%);
  display: grid;
  gap: var(--storage-browser-gap);
  grid-template-columns: 1fr 1fr 1fr max-content max-content;
  grid-auto-rows: min-content;
}

.storage-browser__title {
  margin: 0;
  grid-column: 1 / 3;
  margin-inline-start: var(--storage-browser-gap);
}

.storage-browser__navigate {
  grid-column: 1 / -1;
}

.storage-browser__paginate {
  grid-column: 1 / -1;
  justify-self: flex-end;
}

.storage-browser__paginate__list {
  gap: var(--storage-browser-gap-small);
}

.storage-browser__navigate__list,
.storage-browser__paginate__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.storage-browser__navigate__list {
  gap: var(--storage-browser-gap-small);
}
.storage-browser__navigate__item {
  display: flex;
  align-items: center;
  gap: var(--storage-browser-gap-small);
}

.storage-browser__paginate__item {
  display: flex;
}

.storage-browser__paginate__icon,
.storage-browser__refresh__icon,
.storage-browser__message__icon,
.storage-browser__message__dismiss__icon,
.storage-browser__actions-menu__toggle__icon {
  display: block;
}

.storage-browser__field {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  margin-inline-start: var(--storage-browser-gap);
  gap: var(--storage-browser-gap);
}

.storage-browser__message {
  grid-column: 1 / -1;
  align-items: flex-start;
  display: flex;
  gap: var(--storage-browser-gap);
  margin-inline-start: var(--storage-browser-gap);
}
.storage-browser__message__icon,
.storage-browser__message__dismiss {
  flex: 0 0 auto;
}
.storage-browser__message__content {
  flex: 1 1 auto;
}

.storage-browser__overwrite {
  grid-column: 3 / -1;
}

.storage-browser__upload-destination {
  grid-column: 1 / 3;
  margin: 0 0 0 var(--storage-browser-gap);
}

.storage-browser__upload-status-display {
  grid-column: 1 / -1;
  justify-content: flex-end;
  margin: 0;
  display: flex;
  gap: var(--storage-browser-gap-large);
}

.storage-browser__description-list {
  margin: 0;
  display: flex;
  gap: var(--storage-browser-gap-large);
}

.storage-browser__description {
  display: flex;
  gap: var(--storage-browser-gap-small);
}

.storage-browser__description-details {
  margin: 0;
}

.storage-browser__refresh {
  grid-column: 5 / -1;
  justify-self: flex-end;
}

.storage-browser__refresh:has(~ .storage-browser__actions-menu) {
  grid-column: 4 / 5;
}

.storage-browser__table {
  grid-column: 1 / -1;
  table-layout: fixed;
  width: 100%;
}

.storage-browser__table__header--type,
.storage-browser__table__header--permission,
.storage-browser__table__header--size,
.storage-browser__table__header--status,
.storage-browser__table__header--progress {
  width: 8rem;
}

.storage-browser__table__header--select {
  width: 2rem;
}

.storage-browser__table__header--lastModified {
  width: 12rem;
}
.storage-browser__table__header--download,
.storage-browser__table__header--cancel {
  width: 4rem;
}

.storage-browser__table__header {
  text-align: start;
}
.storage-browser__table__header__button {
  padding: var(--storage-browser-gap-small);
  display: inline-flex;
  align-items: center;
}

.storage-browser__table__data__text,
.storage-browser__table__data__button {
  display: inline-block;
  width: 100%;
  padding: var(--storage-browser-gap-small);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: start;
}

.storage-browser__table__data__icon,
.storage-browser__action-status {
  vertical-align: middle;
  margin-inline-end: var(--storage-browser-gap-small);
}

.storage-browser__table__data--size > *,
.storage-browser__table__header--size {
  text-align: end;
}

.storage-browser__actions-menu {
  position: relative;
  display: inline-block;
  justify-self: flex-end;
  grid-column: 5 / -1;
}

.storage-browser__actions-menu__menu {
  display: none;
  gap: var(--storage-browser-gap-small);
  flex-direction: column;
  position: absolute;
  inset-inline-end: 0;
  inset-block-start: 100%;
  width: max-content;
  max-width: var(--storage-browser-actions-menu-max-width);
}

.storage-browser__actions-menu__menu--open {
  display: flex;
}

.storage-browser__actions-menu__action-button {
  display: flex;
  gap: var(--storage-browser-gap-small);
  align-items: center;
}

.storage-browser__primary {
  grid-column: 3 / -2;
  justify-self: flex-end;
}

.storage-browser__exit {
  grid-column: 1 / -1;
  justify-self: flex-start;
}

.storage-browser__add-files {
  grid-column: 5 / -1;
}
.storage-browser__add-folder {
  grid-column: 1 / 5;
  justify-self: flex-end;
}

.storage-browser__action-status--action-initial {
  color: var(--storage-browser-status-initial);
}
.storage-browser__action-status--action-success {
  color: var(--storage-browser-status-success);
}
.storage-browser__action-status--action-progress {
  color: var(--storage-browser-status-progress);
}
.storage-browser__action-status--action-error,
.storage-browser__action-status--action-canceled {
  color: var(--storage-browser-status-error);
}

.storage-browser__empty-message {
  text-align: center;
  grid-column: 1 / -1;
}

.storage-browser__loading {
  display: flex;
  gap: var(--storage-browser-gap-small);
  grid-row-start: 5;
  grid-column: 1 / -1;
  justify-self: center;
  align-items: center;
}

.storage-browser__loading__icon {
  animation: var(--storage-browser-loading-animation);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Error boundary */
.storage-browser__error {
  background-color: var(--storage-browser-error-background);
  color: var(--storage-browser-error-text);
  grid-column: 1 / -1;
  padding: var(--storage-browser-gap-large);
}
/** Util class to visually hide content only needed for accessibility */
.storage-browser-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  fill: transparent;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
