.storage-browser {
  --storage-browser-gap: 0.6rem;
  display: grid;
  gap: var(--storage-browser-gap);
  grid-template-columns: repeat(32, 1fr);
  grid-template-rows: repeat(24, min-content);
}

.storage-browser__header {
  display: flex;
  flex-direction: column;
  gap: var(--storage-browser-gap);
}

.storage-browser__title {
  margin: 0;
  grid-row-start: 2;
  grid-column: 1 / span 10;
}

.storage-browser__navigate {
  grid-column: 1 / -1;
}

.storage-browser__paginate {
  grid-row-start: 3;
  grid-column: 26 / -1;
  justify-self: flex-end;
}

.storage-browser__navigate__list,
.storage-browser__paginate__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: var(--storage-browser-gap);
}
.storage-browser__navigate__item {
  display: flex;
  align-items: center;
  gap: var(--storage-browser-gap);
}

.storage-browser__paginate__item {
  display: flex;
}

.storage-browser__paginate__icon,
.storage-browser__refresh__icon,
.storage-browser__message__icon,
.storage-browser__message__dismiss__icon,
.storage-browser__action-menu__toggle__icon {
  display: block;
}

.storage-browser__target__field {
  grid-row-start: 5;
  grid-column: 1 / 20;
  display: inline-grid;
  gap: var(--storage-browser-gap);
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 1fr auto;
  grid-template-areas:
    'label label'
    'input submit'
    'error error';
}

.storage-browser__target__label {
  grid-area: label;
}
.storage-browser__target__input {
  grid-area: input;
}
.storage-browser__target__button {
  grid-area: submit;
}
.storage-browser__target__error {
  grid-area: error;
}
.storage-browser__target__destination {
  display: flex;
  gap: var(--storage-browser-gap);
}
.storage-browser__target__destination__value {
  word-break: break-word;
}

.storage-browser__message {
  grid-row: 4 / 5;
  grid-column: 1 / -1;
  align-items: flex-start;
  display: flex;
  gap: var(--storage-browser-gap);
}
.storage-browser__message__icon,
.storage-browser__message__dismiss {
  flex: 0 0 auto;
}
.storage-browser__message__content {
  flex: 1 1 auto;
}

.storage-browser__summary {
  grid-row-start: 3;
  grid-column: 1 / -1;
  justify-content: flex-end;
  margin: 0;
  display: flex;
  gap: var(--storage-browser-gap);
}
.storage-browser__summary__definition {
  display: flex;
  gap: var(--storage-browser-gap);
}

.storage-browser__summary__definition__detail {
  margin: 0;
}

.storage-browser__refresh {
  grid-row-start: 2;
  grid-column: 26 / -1;
  justify-self: flex-end;
}

.storage-browser__table {
  grid-row-start: 5;
  grid-column: 1 / -1;
}
.storage-browser__table__header {
  text-align: start;
}

.storage-browser__table__header-button {
  display: flex;
  justify-content: center;
}

.storage-browser__action-menu {
  position: relative;
  display: inline-block;
  justify-self: flex-end;
  grid-row-start: 2;
  grid-column: 30 / -1;
}

.storage-browser__action-menu__menu {
  display: none;
  gap: var(--storage-browser-gap-small);
  flex-direction: column;
  position: absolute;
  inset-inline-end: 0;
  inset-block-start: 100%;
  width: max-content;
  max-width: var(--storage-browser-action-menu-max-width);
}

.storage-browser__action-menu__menu--open {
  display: flex;
}

.storage-browser__action-menu__action-button {
  display: flex;
  gap: var(--storage-browser-gap-small);
  align-items: center;
}

.storage-browser__primary {
  grid-row-start: 2;
  grid-column: 29 / -1;
  justify-self: flex-end;
}

.storage-browser__exit {
  grid-row-start: 2;
  grid-column: 28 / 29;
  justify-self: flex-end;
}
