# The amplify-ui team is marked as required reviewers for all pull requests to main.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
* @aws-amplify/amplify-ui
/docs/public @aws-amplify/amplify-ui @aws-amplify/documentation-team
