<amplify-password-poc labelHidden="true" describedBy="custom-aria-describedBy">
  <p amplify-label>Last name</p>
  <p amplify-description-text>Enter Description</p>
  <input amplify-password placeholder="Baggins" />
  <p amplify-error>There is an error</p>
</amplify-password-poc>
<div style=" margin-top: 100px;"></div>

<amplify-password-poc describedBy="custom-aria-describedBy">
  <p amplify-label>Enter Label</p>
  <p amplify-description-text>Enter Description</p>
  <input amplify-password placeholder="Baggins" isDisabled="true" />
  <p amplify-error>There is an error</p>
</amplify-password-poc>

<div style=" margin-top: 100px;"></div>

<amplify-password-poc [hasError]="true" describedBy="custom-aria-describedBy">
  <p amplify-label>Enter Label</p>
  <p amplify-description-text>Enter Description</p>
  <input amplify-password placeholder="Baggins" isReadonly="true" />
  <p amplify-error>There is an error</p>
</amplify-password-poc>

<div style=" margin-top: 100px;"></div>

<amplify-password-poc [hasError]="true" describedBy="custom-aria-describedBy">
  <p amplify-label>Enter Label</p>
  <p amplify-description-text>Enter Description</p>
  <input amplify-password placeholder="Baggins" />
  <p amplify-error>There is an error</p>
</amplify-password-poc>
