.DS_Store
.env
.env.local
*.log
node_modules
aws-exports.js
aws-exports.ts
packages/*/node_modules/**
packages/**/lib/
packages/**/lib-esm/
packages/**/dist/
packages/**/es/
packages/**/esm/
packages/**/cjs/
legacy/*/node_modules/**
legacy/**/lib/
legacy/**/lib-esm/
legacy/**/dist/
legacy/**/es/
legacy/**/esm/
legacy/**/cjs/
*.log
.npm/
packages/**/cypress/videos/
yarn.lock
package-lock.json
.DS_Store
.vscode
.idea
build
coverage
Config
