<amplify-authenticator initialState="signUp">
  <ng-template amplifySlot="force-new-form-fields">
    <amplify-force-new-password-form-fields></amplify-force-new-password-form-fields>
    <amplify-text-field
      label="Zone Info"
      id="12233"
      autocomplete="false"
      placeholder="Zone Info"
      name="zoneinfo"
      type="text"
    ></amplify-text-field>
  </ng-template>
  <ng-template
    amplifySlot="authenticated"
    let-user="user"
    let-signOut="signOut"
  >
    <h2>Welcome, {{ user.username }}!</h2>
    <button (click)="signOut()">Sign Out</button>
  </ng-template>
</amplify-authenticator>
