<amplify-authenticator initialState="signUp">
  <ng-template amplifySlot="sign-up-form-fields">
    <amplify-sign-up-form-fields></amplify-sign-up-form-fields>
    <amplify-text-field
      label="Zone Info"
      placeholder="Zone Info"
      name="zoneinfo"
    ></amplify-text-field>
    <amplify-text-field label="Gender" name="gender"></amplify-text-field>
    <amplify-text-field
      label="Updated At"
      placeholder="1699880541"
      name="updated_at"
    ></amplify-text-field>
    <amplify-text-field label="Address" name="address"></amplify-text-field>
    <amplify-text-field label="Locale" name="locale"></amplify-text-field>
    <amplify-text-field label="Picture" name="picture"></amplify-text-field>
  </ng-template>
  <ng-template amplifySlot="force-new-form-fields">
    <amplify-force-new-password-form-fields></amplify-force-new-password-form-fields>
  </ng-template>
  <ng-template
    amplifySlot="authenticated"
    let-user="user"
    let-signOut="signOut"
  >
    <h2>Welcome, {{ user.username }}!</h2>
    <button (click)="signOut()">Sign Out</button>
  </ng-template>
</amplify-authenticator>
