html,
body,
#__next,
:global([data-amplify-theme]) {
  height: 100%;
}

body {
  margin: 0;
}

:global([data-amplify-theme]) {
  background-color: var(--amplify-colors-background-primary);
}

.liveness-example-nav {
  z-index: 3;
}
