<ng-template #defaultSignIn>
  <amplify-sign-in></amplify-sign-in>
</ng-template>
<ng-template #defaultSignedIn> This is a default signedIn form </ng-template>

<!-- render subcomponents -->
<ng-container
  [ngTemplateOutlet]="signInContent ? signInContent : defaultSignIn"
  [ngTemplateOutletContext]="context"
  *ngIf="authState === 'signIn'"
>
</ng-container>

<ng-container
  [ngTemplateOutlet]="signedInContent ? signedInContent : defaultSignedIn"
  [ngTemplateOutletContext]="context"
  *ngIf="authState === 'signedIn'"
>
</ng-container>
