.amplify-storage-browser {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  position: relative;
  padding: var(--amplify-space-small);
  gap: var(--amplify-space-small);

  /* Error boundary */
  &__error {
    background-color: var(--amplify-colors-background-error);
    color: var(--amplify-colors-font-error);
    padding: var(--amplify-space-medium);
  }

  &__navigation {
    align-self: flex-start;
  }

  &__title {
    font-weight: var(--amplify-font-weights-bold);
    font-size: var(--amplify-font-sizes-large);
  }

  &__controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &__search {
      flex: 1;
    }

    &__pagination {
    }

    &__refresh {
    }

    &__menu {
    }
  }

  &__table {
    width: 100%;
    position: relative;

    &__wrapper {
      overflow: auto;
      position: relative;
      border-width: var(--amplify-border-widths-small);
      border-style: solid;
      border-color: var(--amplify-colors-border-secondary);
      width: 100%;
    }

    &__head {
      position: sticky;
      top: 0;
      background: var(--amplify-colors-background-primary);
      box-shadow: var(--amplify-shadows-small);
    }

    &__header {
      border: none;
    }

    &__body {
    }

    &__row {
    }

    &__header--select,
    &__data--select,
    // TODO: genericize
    &__header--download,
    &__data--download,
    &__data--cancel {
      text-align: center;
    }

    &__data {
      &:first-child,
      &:last-child {
        border-inline-start-width: 0;
        border-inline-end-width: 0;
      }

      &__icon {
        vertical-align: middle;
        margin-inline-end: var(--amplify-space-xs);
      }
    }

    &__data__text,
    &__data__button,
    &__header__text,
    &__header__button {
      // display: inline-block;
      // width: 100%;
      padding-block: var(--amplify-space-xxs);
      padding-inline: var(--amplify-space-xs);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      text-align: start;
      display: inline-flex;
      align-items: center;
    }

    &__data--size,
    &__header--size {
      text-align: end;
    }

    &__header--select,
    &__data--select {
      text-align: center;
    }
  }

  &__action {
    &__options,
    &__summary,
    &__footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      gap: var(--amplify-space-medium);
    }

    &__status {
      justify-content: flex-end;
      display: flex;
      gap: var(--amplify-space-small);
      flex: 1;
    }

    &__message {
      flex: 1;
    }

    &__buttons {
      justify-content: flex-end;
      display: flex;
      gap: var(--amplify-space-small);
    }
  }
}
