.amplify-storage-browser {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  position: relative;
  padding: var(--amplify-space-small);
  gap: var(--amplify-space-small);
  overflow: hidden;

  /* Error boundary */
  &__error {
    background-color: var(--amplify-colors-background-error);
    color: var(--amplify-colors-font-error);
    padding: var(--amplify-space-medium);
  }

  &__navigation {
    align-self: flex-start;
  }

  &__title {
    font-weight: var(--amplify-font-weights-bold);
    font-size: var(--amplify-font-sizes-large);
  }

  &__controls,
  &__summary,
  &__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: var(--amplify-space-medium);
  }

  &__search {
    flex: 1;
  }

  &__pagination {
  }

  &__refresh {
  }

  &__menu {
  }

  &__drop-zone {
    flex: 1;
    overflow: hidden;
    position: relative;
    width: 100%;
    display: block;
  }

  &__data-table {
    overflow: auto;
    position: relative;
    border-width: var(--amplify-border-widths-small);
    border-style: solid;
    border-color: var(--amplify-colors-border-secondary);
    width: 100%;
    height: 100%;
    display: block;
  }

  &__table {
    width: 100%;
    position: relative;

    // <thead>
    &-head {
      position: sticky;
      top: 0;
      background: var(--amplify-colors-background-primary);
      box-shadow: var(--amplify-shadows-small);
    }

    // <tbody>
    &-body {
    }

    // <tr>
    &-row {
    }

    // <th>
    &-header {
      border: none;
      padding: var(--amplify-space-xxxs);
    }

    // <td>
    &-data-cell {
      padding: var(--amplify-space-xxxs);

      &:first-child,
      &:last-child {
        border-inline-start-width: 0;
        border-inline-end-width: 0;
      }

      &-icon {
        vertical-align: middle;
        margin-inline-end: var(--amplify-space-xs);
      }
    }

    &-header--select,
    &-data--select,
    // TODO: genericize
    &-header--download,
    &-data--download,
    &-data--cancel {
      text-align: center;
    }

    &-data--size,
    &-header--size {
      text-align: end;
    }
  }

  &__status {
    justify-content: flex-end;
    display: flex;
    gap: var(--amplify-space-small);
    flex: 1;
  }

  &__message {
    flex: 1;
  }

  &__buttons {
    justify-content: flex-end;
    display: flex;
    gap: var(--amplify-space-small);
  }
}
