.amplify-storagebrowser {
  --amplify-storagebrowser-gap: 0.6rem;
  --amplify-storagebrowser-divider-border-width: 2px;
  --amplify-storagebrowser-divider-border-style: solid;
  --amplify-storagebrowser-divider-border-color: #888;
  --amplify-storagebrowser-divider-height: 16px;
}

.amplify-storagebrowser__header {
  display: flex;
  flex-direction: column;
  gap: var(--amplify-storagebrowser-gap);
}

.amplify-storagebrowser__header__primary {
  display: flex;
  align-items: flex-start;
}

.amplify-storagebrowser__title {
  flex: 1 1 auto;
  margin: 0;
}
.amplify-storagebrowser__header__primary__actions {
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  gap: var(--amplify-storagebrowser-gap);
}

.amplify-storagebrowser__history__list,
.amplify-storagebrowser__paginate__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: var(--amplify-storagebrowser-gap);
}
.amplify-storagebrowser__history__list__item {
  display: flex;
  gap: var(--amplify-storagebrowser-gap);
}

.amplify-storagebrowser__paginate__list__item {
  display: flex;
}

.amplify-storagebrowser__paginate__icon,
.amplify-storagebrowser__refresh__icon {
  display: block;
}

.amplify-storagebrowser__divider {
  border: 0 0 0 var(--amplify-storagebrowser-divider-border-width);
  border-style: var(--amplify-storagebrowser-divider-border-style);
  border-color: var(--amplify-storagebrowser-divider-border-color);
  height: var(--amplify-storagebrowser-divider-height);
}
