.amplify-storagebrowser__header {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.amplify-storagebrowser__header__primary {
  display: flex;
  align-items: flex-start;
}

.amplify-storagebrowser__title {
  flex: 1 1 auto;
  margin: 0;
}
.amplify-storagebrowser__header__primary__actions {
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  gap: 6px;
}

.amplify-storagebrowser__history__list,
.amplify-storagebrowser__paginate__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}
.amplify-storagebrowser__history__list__item {
  display: flex;
  gap: 6px;
}

.amplify-storagebrowser__paginate__list__item {
  display: flex;
}

.amplify-storagebrowser__paginate__icon,
.amplify-storagebrowser__refresh__icon {
  display: block;
}

.amplify-storagebrowser__divider {
  border: 0 0 0 2px;
  border-style: solid;
  border-color: #888;
  height: 16px;
}
