.amplify-ui-badge {
  all: unset; /* protect against external styles */
  background-color: var(--amplify-ui-components-badge-background-color);
  border-radius: var(--amplify-ui-components-badge-border-radius);
  box-sizing: var(--amplify-ui-components-badge-box-sizing);
  display: inline-flex;
  font-size: var(--amplify-ui-components-badge-font-size);
  font-weight: var(--amplify-ui-components-badge-font-weight);
  padding: var(--amplify-ui-components-badge-padding);
  text-align: var(--amplify-ui-components-badge-text-align);
}

.amplify-ui-badge[data-variant='info'] {
  background-color: var(--amplify-ui-components-badge-info-background-color);
}

.amplify-ui-badge[data-variant='error'] {
  background-color: var(--amplify-ui-components-badge-error-background-color);
}

.amplify-ui-badge[data-variant='warning'] {
  background-color: var(--amplify-ui-components-badge-warning-background-color);
}

.amplify-ui-badge[data-variant='success'] {
  background-color: var(--amplify-ui-components-badge-success-background-color);
}

.amplify-ui-badge[data-size='small'] {
  font-size: var(--amplify-ui-components-badge-small-font-size);
}

.amplify-ui-badge[data-size='medium'] {
  font-size: var(--amplify-ui-components-badge-medium-font-size);
}

.amplify-ui-badge[data-size='large'] {
  font-size: var(--amplify-ui-components-badge-large-font-size);
}
