.amplify-ui-badge {
  --colors-bg-info: var(--amplify-ui-badge-colors-bg-info);
  --colors-bg-error: var(--amplify-ui-badge-colors-bg-error);
  --colors-bg-warning: var(--amplify-ui-badge-colors-bg-warning);
  --colors-bg-success: var(--amplify-ui-badge-colors-bg-success);
  
  --font-size-small: var(--amplify-ui-badge-font-size-small);
  --font-size-medium: var(--amplify-ui-badge-font-size-medium);
  --font-size-large: var(--amplify-ui-badge-font-size-large);
  
  all: unset; /* protect against external styles */
  background-color: var(--amplify-ui-badge-colors-bg-default);
  text-align: center;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  font-weight: var(--amplify-ui-badge-font-weight);
  border-radius: 9999px;
  padding: 0 0.75rem;
}

.amplify-ui-badge[data-variant="info"] {
  background-color: var(--colors-bg-info);
}

.amplify-ui-badge[data-variant="error"] {
  background-color: var(--colors-bg-error);
}

.amplify-ui-badge[data-variant="warning"] {
  background-color: var(--colors-bg-warning);
}

.amplify-ui-badge[data-variant="success"] {
  background-color: var(--colors-bg-success);
}

.amplify-ui-badge[data-size="small"] {
  font-size: var(--font-size-small);
}

.amplify-ui-badge[data-size="medium"] {
  font-size: var(--font-size-medium);
}

.amplify-ui-badge[data-size="large"] {
  font-size: var(--font-size-large);
}
