.amplify-ui-card {
  all: unset;
  display: inline-block;
  background-color: var(--amplify-ui-components-card-background-color);
  border: var(--amplify-ui-components-card-border);
  border-radius: var(--ammplify-ui-components-card-border-radius);
  box-shadow: var(--amplify-ui-components-card-box-shadow);
  padding: var(--amplify-ui-components-card-padding);
}
