.amplify-ui-card {
  padding: var(--amplify-ui-components-card-padding);
  background-color: var(--amplify-ui-components-card-background-color);
  box-shadow: var(--amplify-ui-components-card-box-shadow);
}
