.amplify-ui-card.amplify-ui-view {
  all: unset;
  display: var(--amplify-ui-components-card-display);
  background-color: var(--amplify-ui-components-card-background-color);
  border: var(--amplify-ui-components-card-border);
  border-radius: var(--ammplify-ui-components-card-border-radius);
  box-shadow: var(--amplify-ui-components-card-box-shadow);
  padding: var(--amplify-ui-components-card-padding);
}
