.amplify-field-wrapper {
  border-color: var(--amplify-components-field-border-color);
  border-radius: var(--amplify-components-field-border-radius);
  border-style: var(--amplify-components-field-border-style);
  border-width: var(--amplify-components-field-border-width);
}
