h1.amplify-ui-heading {
	/* --amplify-ui-components-text-font-size: var(--amplify-ui-font-size-4xl); */
	color: var(--amplify-ui-colors-black);
	font-size: var(--amplify-ui-font-size-4xl);
	font-weight: var(--amplify-ui-font-weight-bold);
	/* line-height: var(--amplify-ui-line-height); */
}

h2.amplify-ui-heading {
	font-size: var(--amplify-ui-font-size-3xl);
}

h3.amplify-ui-heading {
	font-size: var(--amplify-ui-font-size-2xl);
}

h4.amplify-ui-heading {
	font-size: var(--amplify-ui-font-size-xl);
}

h5.amplify-ui-heading {
	font-size: var(--amplify-ui-font-size-large);
}

h6.amplify-ui-heading {
	font-size: var(--amplify-ui-font-size-medium);
}

/* 
font-size
font-weight
line-height (this should solve the overlapping problem)
color
*/
