.amplify-ui-heading {
  color: var(--amplify-ui-components-heading-color);
  line-height: var(--amplify-ui-components-heading-line-height);
}

h1.amplify-ui-heading {
  font-size: var(--amplify-ui-components-heading-1-font-size);
  font-weight: var(--amplify-ui-components-heading-1-font-weight);
}

h2.amplify-ui-heading {
  font-size: var(--amplify-ui-components-heading-2-font-size);
  font-weight: var(--amplify-ui-components-heading-2-font-weight);
}

h3.amplify-ui-heading {
  font-size: var(--amplify-ui-components-heading-3-font-size);
  font-weight: var(--amplify-ui-components-heading-3-font-weight);
}

h4.amplify-ui-heading {
  font-size: var(--amplify-ui-components-heading-4-font-size);
  font-weight: var(--amplify-ui-components-heading-4-font-weight);
}

h5.amplify-ui-heading {
  font-size: var(--amplify-ui-components-heading-5-font-size);
  font-weight: var(--amplify-ui-components-heading-5-font-weight);
}

h6.amplify-ui-heading {
  font-size: var(--amplify-ui-components-heading-6-font-size);
  font-weight: var(--amplify-ui-components-heading-6-font-weight);
}
