/*
 * Icon base styles
 */

.amplify-ui-icon {
  display: inline-block;
  vertical-align: middle;
}

.amplify-ui-icon[data-size='small'] {
  height: var(--amplify-ui-components-icon-height-small);
  line-height: var(--amplify-ui-components-icon-line-height-small);
}

.amplify-ui-icon[data-size='medium'] {
  height: var(--amplify-ui-components-icon-height-medium);
  line-height: var(--amplify-ui-components-icon-line-height-medium);
}

.amplify-ui-icon[data-size='large'] {
  height: var(--amplify-ui-components-icon-height-large);
  line-height: var(--amplify-ui-components-icon-line-height-large);
}
