%item-shared {
  height: var(--amplify-components-pagination-item-shared-height);
  min-width: var(--amplify-components-pagination-item-shared-min-width);
  border-radius: var(--amplify-components-pagination-item-shared-border-radius);
}

.amplify-pagination {
  list-style-type: none;

  li {
    margin-left: var(
      --amplify-components-pagination-item-container-margin-horizontal
    );
    margin-right: var(
      --amplify-components-pagination-item-container-margin-horizontal
    );
  }

  .current {
    @extend %item-shared;

    color: var(--amplify-components-pagination-current-color);
    font-size: var(--amplify-components-pagination-current-font-size);
    background-color: var(
      --amplify-components-pagination-current-background-color
    );
  }

  .visuallyhidden {
    position: absolute;
    visibility: hidden;
  }

  .ellipsis {
    padding-left: var(--amplify-components-pagination-ellipsis-padding-horizontal);
    padding-right: var(--amplify-components-pagination-ellipsis-padding-horizontal);
  }

  .amplify-button {
    &[data-variation='link'] {
      @extend %item-shared;

      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--amplify-components-pagination-button-color);
      font-weight: var(--amplify-components-pagination-button-font-weight);
      padding-top: var(--amplify-components-pagination-button-padding-vertical);
      padding-right: var(--amplify-components-pagination-button-padding-horizontal);
      padding-bottom: var(
        --amplify-components-pagination-button-padding-vertical
      );
      padding-left: var(--amplify-components-pagination-button-padding-horizontal);
      transition: background-color var(--amplify-components-pagination-button-transition-duration);

      &:hover {
        text-decoration: none;
        background-color: var(
          --amplify-components-pagination-button-hover-background-color
        );
      }

      &[disabled] {
        opacity: var(--amplify-components-pagination-button-disabled-opacity);
        cursor: default;
        pointer-events: none;
      }
    }
  }
}
