.amplify-ui-pagination li {
  margin-left: 4px;
  margin-right: 4px;
}

.amplify-ui-pagination .amplify-ui-button[data-variation='link'] {
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  font-weight: inherit;
  height: 2rem;
  min-width: 2rem;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 1rem;
  transition: background-color 250ms;
}

.amplify-ui-pagination .amplify-ui-button[data-variation='link']:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
}

.amplify-ui-pagination .amplify-ui-button[data-variation='link'][disabled] {
  opacity: 0.4;
  cursor: default;
  pointer-events: none;
}

.amplify-ui-pagination .current {
  height: 2rem;
  min-width: 2rem;
  font-size: 0.875rem;
  border-radius: 1rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
}

.amplify-ui-pagination .visuallyhidden {
  position: absolute;
  visibility: hidden;
}

.amplify-ui-pagination .ellipsis {
  padding-left: 8px;
  padding-right: 8px;
}
