.amplify-ui-placeholder {
  animation-direction: alternate;
  animation-duration: var(
    --amplify-ui-components-placeholder-transition-duration
  );
  animation-iteration-count: infinite;
  animation-name: loading;
  border-radius: var(--amplify-ui-components-placeholder-border-radius);
  height: var(--amplify-ui-components-placeholder-medium-height);
  width: 100%;
}

/* How should we name the variables? */
@keyframes loading {
  0% {
    background-color: var(--amplify-ui-components-placeholder-start-color);
  }
  100% {
    background-color: var(--amplify-ui-components-placeholder-end-color);
  }
}

.amplify-ui-placeholder[data-size='small'] {
  height: var(--amplify-ui-components-placeholder-small-height);
}

/* There's no data-size='medium' so that the default doesn't have more specificity than a customer's custom class */

.amplify-ui-placeholder[data-size='large'] {
  height: var(--amplify-ui-components-placeholder-large-height);
}
