.amplify-ui-placeholder {
  border-radius: var(--amplify-ui-components-placeholder-border-radius);
  height: var(--amplify-ui-components-placeholder-medium-height);
  width: 100%;

  animation-name: loading;
  animation-duration: var(
    --amplify-ui-components-placeholder-transition-duration
  );
  animation-iteration-count: infinite;
  animation-direction: alternate;

  --start-color: var(--amplify-ui-components-placeholder-start-color);
  --end-color: var(--amplify-ui-components-placeholder-end-color);
}

/* How should we name the variables? */
@keyframes loading {
  0% {
    background-color: var(--start-color);
  }
  100% {
    background-color: var(--end-color);
  }
}

.amplify-ui-placeholder[data-size='small'] {
  height: var(--amplify-ui-components-placeholder-small-height);
}

/* .amplify-ui-placeholder[data-size='medium'] {
  So that the default doesn't have more specificity than a customer's custom class
  height: var(--height);
} */

.amplify-ui-placeholder[data-size='large'] {
  height: var(--amplify-ui-components-placeholder-large-height);
}
