@use 'field';

.amplify-select-wrapper {
  display: var(--amplify-components-select-wrapper-display);
  position: var(--amplify-components-select-wrapper-position);
  cursor: var(--amplify-components-select-wrapper-cursor);
}

.amplify-select-icon-wrapper {
  position: var(--amplify-components-select-icon-wrapper-position);
  height: var(--amplify-components-select-icon-wrapper-height);
  top: var(--amplify-components-select-icon-wrapper-top);
  right: var(--amplify-components-select-icon-wrapper-right);
  pointer-events: var(--amplify-components-select-icon-wrapper-pointer-events);
}

.amplify-select {
  @extend %amplify-field;
  width: var(--amplify-components-select-width);
  transition-property: var(--amplify-components-select-transition-property);
  transition-duration: var(--amplify-components-select-transition-duration);

  &[data-variation='filled'] {
    border-color: var(--amplify-components-select-filled-border-color);
    background-color: var(--amplify-components-select-filled-background-color);
    &:hover {
      &:not(:disabled) {
        background-color: var(
          --amplify-components-select-filled-hover-background-color
        );
      }
    }
  }

  &[data-variation='flushed'] {
    border-top: var(--amplify-components-select-flushed-border-top);
    border-left: var(--amplify-components-select-flushed-border-left);
    border-right: var(--amplify-components-select-flushed-border-right);
    border-radius: var(--amplify-components-select-flushed-border-radius);
    &:focus {
      box-shadow: var(--amplify-components-select-flushed-focus-box-shadow);
    }
  }
}
