.amplify-ui-text {
  all: unset;
  color: var(--amplify-ui-components-text-color);
  display: block;
}

.amplify-ui-text[data-truncate='true'] {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.amplify-ui-text[data-variation='primary'] {
  color: var(--amplify-ui-components-text-primary-color);
}

.amplify-ui-text[data-variation='secondary'] {
  color: var(--amplify-ui-components-text-secondary-color);
}

.amplify-ui-text[data-variation='tertiary'] {
  color: var(--amplify-ui-components-text-tertiary-color);
}

.amplify-ui-text[data-variation='error'] {
  color: var(--amplify-ui-components-text-error-color);
}

.amplify-ui-text[data-variation='info'] {
  color: var(--amplify-ui-components-text-info-color);
}

.amplify-ui-text[data-variation='success'] {
  color: var(--amplify-ui-components-text-success-color);
}

.amplify-ui-text[data-variation='warning'] {
  color: var(--amplify-ui-components-text-warning-color);
}
