.amplify-textfield {
  font-size: var(--amplify-components-textfield-font-size);
  gap: var(--amplify-components-textfield-gap);
  &[data-size='small'] {
    font-size: var(--amplify-components-textfield-small-font-size);
    gap: var(--amplify-components-textfield-small-gap);
  }
  &[data-size='large'] {
    font-size: var(--amplify-components-textfield-large-font-size);
    gap: var(--amplify-components-textfield-large-gap);
  }
  &:focus {
    outline: 2px solid yellow !important;
  }

  // This is required to increase specificity to override Tailwind styles in Docs
  // TODO: unnest this class once Tailwind is removed
  .amplify-textfield__input {
    padding: var(--amplify-components-textfield-padding);
    flex-grow: 1;
    border-radius: var(--amplify-components-field-border-radius);

    /* Required to override tailwind default styling */
    border &[data-size='small'] {
      font-size: var(--amplify-components-textfield-small-font-size);
      line-height: var(--amplify-components-textfield-small-font-size);
      padding: var(--amplify-components-textfield-small-padding);
    }
    &[data-size='large'] {
      font-size: var(--amplify-components-textfield-large-font-size);
      line-height: var(--amplify-components-textfield-large-font-size);
      padding: var(--amplify-components-textfield-large-padding);
    }
    &[disabled] {
      background-color: var(
        --amplify-components-textfield-disabled-background-color
      );
    }
  }
}
.amplify-textfield__description {
  font-style: italic;
  font-size: 0.8rem;
}
