.amplify-ui-view {
  --width: var(--amplify-ui-view-width);
  --background-color: var(--amplify-ui-view-colors-background);
  --color: var(--amplify-ui-view-colors-text);
  --box-shadow: var(--amplify-ui-view-box-shadow);
  --padding: var(--amplify-ui-view-padding);
  --border: var(--amplify-ui-view-border);
  --border-radius: var(--amplify-ui-view-border-radius);
  --height: var(--amplify-ui-view-height);
  --max-height: var(--amplify-ui-view-max-height);
  --min-height: var(--amplify-ui-view-min-height);
  --width: var(--amplify-ui-view-width);
  --max-width: var(--amplify-ui-view-max-width);
  --min-width: var(--amplify-ui-view-min-width);
  --opacity: var(--amplify-ui-view-opacity);
  width: var(--width);
  color: var(--color);
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
  padding: var(--padding);
  border: var(--border);
  border-radius: var(--border-radius);
  height: var(--height);
  max-height: var(--max-height);
  min-height: var(--min-height);
  width: var(--width);
  max-width: var(--max-width);
  min-width: var(--min-width);
  opacity: var(--opacity);
}
