/* You can add global styles to this file, and also import other style files */

@import '~@aws-amplify/ui-angular/theme.css';

body {
  justify-content: center;
  background-color: var(--amplify-colors-background-secondary);
}

h3.amplify-heading {
  font-weight: 600;
}
