/*
 * Amplify UI Basic Theme
 */

@import 'dist/theme';

html {
  font-family: var(--amplify-fonts-default-static);
}
@supports (font-variation-settings: normal) {
  html {
    font-family: var(--amplify-fonts-default-variable);
  }
}

[class*='amplify'] {
  all: unset; /* protect against external styles */
}

// Must be defined AFTER `[class*='amplify']
// or rules will be unset to initial/default
[data-amplify-theme] * {
  box-sizing: border-box;
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border-width: 0 !important;
}

@import './component/text.scss'; // text styling must be imported to allow override
@import './component/badge.scss';
@import './component/button.scss';
@import './component/fieldMessages.scss';
@import './component/heading.scss';
@import './component/icon.scss';
@import './component/input.scss';
@import './component/textArea.scss';
@import './component/image.scss';
@import './component/link.scss';
@import './component/loader.scss';
@import './component/placeholder.scss';

// Layout
@import './component/flex.scss';
@import './component/grid.scss';
@import './component/scrollView.scss';

// Composed components
@import './component/alert.scss';
@import './component/authenticator.scss';
@import './component/card.scss';
@import './component/collection.scss';
@import './component/checkbox.scss';
@import './component/checkboxField.scss';
@import './component/divider.scss';
@import './component/field.scss';
@import './component/fieldGroup.scss';
@import './component/pagination.scss';
@import './component/phoneNumberField.scss';
@import './component/rating.scss';
@import './component/radio.scss';
@import './component/radiogroup.scss';
@import './component/radioGroupField.scss';
@import './component/select.scss';
@import './component/stepperField.scss';
@import './component/switchField.scss';
@import './component/table.scss';
@import './component/tabs.scss';
@import './component/textField.scss';
@import './component/toggleButton.scss';
@import './component/toggleButtonGroup.scss';

// Accessibility
@import './component/visuallyHidden.scss';
