@import './base.scss';

// Layout
// They are commonly used in other primitives
// Move them to the top here makes it easy to override their styling
@import './component/fieldControl';
@import './component/flex.scss';
@import './component/grid.scss';
@import './component/scrollView.scss';

@import './component/text.scss'; // text styling must be imported to allow override
@import './component/badge.scss';
@import './component/button.scss';
@import './component/dropZone.scss';
@import './component/fieldMessages.scss';
@import './component/heading.scss';
@import './component/icon.scss';
@import './component/highlightMatch.scss';
@import './component/input.scss';
@import './component/textArea.scss';
@import './component/image.scss';
@import './component/link.scss';
@import './component/loader.scss';
@import './component/placeholder.scss';
@import './component/copy.scss';

// Composed components
@import './component/accordion.scss';
@import './component/alert.scss';
@import './component/autocomplete.scss';
@import './component/authenticator.scss';
@import './component/breadcrumbs.scss';
@import './component/card.scss';
@import './component/collection.scss';
@import './component/checkbox.scss';
@import './component/checkboxField.scss';
@import './component/dialCodeSelect.scss';
@import './component/divider.scss';
@import './component/field.scss';
@import './component/fieldGroup.scss';
@import './component/fieldset.scss';
@import './component/liveness.scss';
@import './component/menu.scss';
@import './component/message.scss';
@import './component/pagination.scss';
@import './component/passwordField.scss';
@import './component/phoneNumberField.scss';
@import './component/rating.scss';
@import './component/radio.scss';
@import './component/radiogroup.scss';
@import './component/radioGroupField.scss';
@import './component/searchField.scss';
@import './component/select.scss';
@import './component/selectField.scss';
@import './component/sliderField.scss';
@import './component/stepperField.scss';
@import './component/switchField.scss';
@import './component/table.scss';
@import './component/tabs.scss';
@import './component/textAreaField.scss';
@import './component/textField.scss';
@import './component/toggleButton.scss';
@import './component/toggleButtonGroup.scss';
// In-App Messaging components
@import './component/inAppMessaging/index.scss';
// StorageManager component
@import './component/StorageManager/index.scss';

// This comes after the field styles so it can override them
@import './component/fieldModifiers.scss';

// Accessibility
@import './component/visuallyHidden.scss';
