/*
 * Amplify UI Basic Theme
 */

@import '../../dist/variables.scss';

html {
  font-family: var(--amplify-fonts-default-static);
}
@supports (font-variation-settings: normal) {
  html {
    font-family: var(--amplify-fonts-default-variable);
  }
}

[class*='amplify'] {
  all: unset; /* protect against external styles */
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border-width: 0 !important;
}

@import './component/badge.scss';
@import './component/button.scss';
@import './component/card.scss';
@import './component/divider.scss';
@import './component/field.scss';
@import './component/flex.scss';
@import './component/heading.scss';
@import './component/icon.scss';
@import './component/image.scss';
@import './component/pagination.scss';
@import './component/placeholder.scss';
@import './component/rating.scss';
@import './component/textField.scss';
@import './component/text.scss';
