/*
 * Amplify UI Basic Theme
 */

@import '../../dist/variables.scss';
@import '~@fontsource/inter/index.css';
@import '~@fontsource/inter/variable.css';

html {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'InterVariable', -apple-system, BlinkMacSystemFont,
      'Helvetica Neue', 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans',
      sans-serif;
  }
}

[class*='amplify'] {
  all: unset; /* protect against external styles */
}

.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border-width: 0 !important;
}

@import './component/badge.scss';
@import './component/button.scss';
@import './component/card.scss';
@import './component/divider.scss';
@import './component/flex.scss';
@import './component/heading.scss';
@import './component/icon.scss';
@import './component/image.scss';
@import './component/pagination.scss';
@import './component/placeholder.scss';
@import './component/rating.scss';
@import './component/text.scss';
