.amplify-inappmessaging-backdrop {
  align-items: center;
  background-color: var(--amplify-colors-overlay-50);
  bottom: 0;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}
