<amplify-authenticator>
  <ng-template amplifySlot="sign-in-footer">
    <button
      amplify-button
      size="small"
      variation="link"
      (click)="authenticator.toSignUp()"
    >
      Create Account
    </button>
  </ng-template>
  <ng-template amplifySlot="sign-up-footer">
    <button
      amplify-button
      size="small"
      variation="link"
      (click)="authenticator.toSignIn()"
    >
      Back to Sign In
    </button>
  </ng-template>
</amplify-authenticator>

<ng-container *ngIf="authenticator.route === 'authenticated'">
  <h2>Welcome, {{ authenticator.user.username }}!</h2>
  <button (click)="authenticator.signOut()">Sign Out</button>
</ng-container>
