[data-amplify-authenticator] {
  @apply max-w-md mx-auto overflow-hidden text-base text-gray-700 rounded-md shadow;
}

[data-amplify-authenticator] [data-amplify-heading] {
  @apply mb-0 text-xl;
}

[data-amplify-authenticator] [data-amplify-form] {
  @apply grid p-8 bg-white;
}

[data-amplify-authenticator] [data-amplify-footer] {
  @apply flex flex-row items-center space-x-1;
}

[data-amplify-authenticator] [data-amplify-fieldset] {
  @apply grid gap-6;
}

[data-amplify-authenticator] [data-amplify-label] {
  @apply space-y-2;
}

[data-amplify-authenticator] [data-amplify-password] [data-amplify-box] {
  @apply flex flex-row space-x-1;
}

[data-amplify-authenticator-sign-in] [data-amplify-error] {
  @apply text-red-500;
}

[data-amplify-authenticator]
  [data-amplify-password]
  [data-amplify-box]
  [data-amplify-text] {
  @apply text-sm text-gray-500;
}

[data-amplify-authenticator]
  [data-amplify-password]
  [data-amplify-box]
  [data-amplify-button] {
  @apply text-sm text-blue-500;
}

[data-amplify-authenticator] [data-amplify-footer] [data-amplify-text] {
  @apply text-sm text-gray-500;
}

[data-amplify-authenticator]
  [data-amplify-footer]
  [data-amplify-button]:first-of-type {
  @apply text-sm text-blue-500;
}

[data-amplify-authenticator]
  [data-amplify-footer]
  [data-amplify-button][type='submit'] {
  @apply px-8 py-2 text-base text-white bg-gray-700 rounded;
}

[data-amplify-authenticator] :disabled {
  @apply opacity-50;
}

:root {
  /* primary button colors */
  --amplify-components-button-primary-background-color: #7256ff;
  --amplify-components-button-primary-border-color: #7256ff;

  --amplify-components-button-primary-hover-background-color: #8e7bfa;
  --amplify-components-button-primary-hover-border-color: #7256ff;

  --amplify-components-button-primary-active-background-color: #8e7bfa;
  --amplify-components-button-primary-active-border-color: #7256ff;

  --amplify-components-button-primary-focus-background-color: #8e7bfa;
  --amplify-components-button-primary-focus-border-color: #7256ff;

  --amplify-components-button-primary-loading-background-color: #8e7bfa;
  --amplify-components-button-primary-loading-border-color: #7256ff;

  /* link button colors */
  --amplify-components-button-link-color: #7256ff;
  --amplify-components-button-link-hover-color: #8e7bfa;
  --amplify-components-button-link-active-color: #8e7bfa;
  --amplify-components-button-link-focus-color: #8e7bfa;
  --amplify-components-button-link-loading-color: #8e7bfa;

  /* default button colors */
  --amplify-components-button-color: #7256ff;
  --amplify-components-button-border-color: #7256ff;

  --amplify-components-button-hover-color: white;
  --amplify-components-button-hover-background-color: #8e7bfa;
  --amplify-components-button-hover-border-color: #7256ff;
}

.federated-sign-in-container {
  margin-top: 1rem;
}

.federated-sign-in-button {
  border-color: black;
  border-radius: 0;
  color: black;
}
