<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol';
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
<hr />
<h1>Default Authenticator</h1>
<spark-context-provider>
  <amplify-authenticator></amplify-authenticator>
</spark-context-provider>
<hr />

<h1>Headless Authenticator</h1>
<amplify-authenticator> </amplify-authenticator>
<hr />

<h1>Custom Authenticator</h1>
<spark-context-provider [style]="customStyle">
  <amplify-authenticator>
    <ng-template #signIn>
      <amplify-sign-in [headerText]="'Custom Sign In'"></amplify-sign-in>
    </ng-template>
    <ng-template #signedIn>
      <h1>This is customized signedIn content</h1>
      <amplify-sign-out></amplify-sign-out>
    </ng-template>
  </amplify-authenticator>
</spark-context-provider>
<hr />

<h1>Nested Slots</h1>
<spark-context-provider>
  <amplify-authenticator>
    <ng-template #signIn>
      <amplify-sign-in>
        <button #signInButton>My custom button</button>
      </amplify-sign-in>
    </ng-template>
    <ng-template #signedIn>
      <h1>This is customized signedIn content</h1>
      <amplify-sign-out></amplify-sign-out>
    </ng-template>
  </amplify-authenticator>
</spark-context-provider>
