<h1>Default Authenticator</h1>
<spark-context-provider>
  <amplify-authenticator></amplify-authenticator>
</spark-context-provider>
<hr />

<h1>Headless Authenticator</h1>
<amplify-authenticator> </amplify-authenticator>
<hr />

<h1>Customizing Style</h1>
<spark-context-provider [customStyle]="customStyle">
  <amplify-authenticator> </amplify-authenticator>
</spark-context-provider>
<hr />

<h1>Inserting Components</h1>
<spark-context-provider>
  <amplify-authenticator>
    <ng-template #signInButton let-ctx>
      <button
        (click)="ctx.signIn()"
        [ngStyle]="{
          'background-color': 'floralwhite',
          padding: '1rem',
          'border-style': 'dashed'
        }"
      >
        Custom Button
      </button>
    </ng-template>
  </amplify-authenticator>
</spark-context-provider>
