.amplify-accordion {
  display: block;
  background-color: var(--amplify-components-accordion-background-color);
}

.amplify-accordion__item {
  display: block;
  overflow: hidden;
  position: relative;
  border-width: 0;
  border-block-end-width: var(--amplify-components-accordion-item-border-width);
  border-style: var(--amplify-components-accordion-item-border-style);
  border-color: var(--amplify-components-accordion-item-border-color);

  &:focus-within {
    box-shadow: var(--amplify-components-accordion-item-focus-box-shadow);
    // this allows the box shadow to appear above the items that come after it
    z-index: 2;
  }

  &__trigger {
    display: flex;
    padding-inline: var(
      --amplify-components-accordion-item-trigger-padding-inline
    );
    padding-block: var(
      --amplify-components-accordion-item-trigger-padding-block
    );
    align-items: var(--amplify-components-accordion-item-trigger-align-items);
    justify-content: var(
      --amplify-components-accordion-item-trigger-justify-content
    );

    &:hover {
      background-color: var(
        --amplify-components-accordion-item-trigger-hover-background-color
      );
    }
  }

  &__content {
    display: block;
    color: var(--amplify-components-accordion-item-content-color);
    padding-block-end: var(
      --amplify-components-accordion-item-content-padding-block-end
    );
    padding-block-start: var(
      --amplify-components-accordion-item-content-padding-block-start
    );
    padding-inline: var(
      --amplify-components-accordion-item-content-padding-inline
    );
  }

  &__icon {
    transition-property: transform;
    transition-duration: var(
      --amplify-components-accordion-item-icon-transition-duration
    );
    transition-timing-function: var(
      --amplify-components-accordion-item-icon-transition-timing-function
    );

    [open] & {
      transform: rotate(180deg);
    }
  }
}
