.amplify-alert {
  align-items: var(--amplify-components-alert-align-items);
  background-color: var(--amplify-components-alert-background-color);
  color: var(--amplify-components-alert-color);
  justify-content: var(--amplify-components-alert-justify-content);
  padding-block: var(--amplify-components-alert-padding-block);
  padding-inline: var(--amplify-components-alert-padding-inline);
  &--info {
    color: var(--amplify-components-alert-info-color);
    background-color: var(--amplify-components-alert-info-background-color);
  }

  &--error {
    color: var(--amplify-components-alert-error-color);
    background-color: var(--amplify-components-alert-error-background-color);
  }

  &--warning {
    color: var(--amplify-components-alert-warning-color);
    background-color: var(--amplify-components-alert-warning-background-color);
  }

  &--success {
    color: var(--amplify-components-alert-success-color);
    background-color: var(--amplify-components-alert-success-background-color);
  }
}

.amplify-alert__icon {
  font-size: var(--amplify-components-alert-icon-size);
}

.amplify-alert__heading {
  display: block;
  font-weight: var(--amplify-components-alert-heading-font-weight);
  font-size: var(--amplify-components-alert-heading-font-size);
}

.amplify-alert__body {
  color: inherit;
  display: block;
}

.amplify-alert__dismiss {
  color: inherit;
}
