[data-amplify-authenticator] {
  display: grid;
  width: 100vw;
  height: 100vh;
  overflow: auto;

  /* Override browser default `body { margin: 8px }` */
  position: fixed;
  top: 0;
  left: 0;

  /* Having a z-index at least "wins" by default */
  z-index: 1;
}

[data-amplify-authenticator] [data-authenticator-variation='modal'] {
  // Fill Authenticator space
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--amplify-colors-background-secondary, #e1e5e9);
}

/* Texture for modal */
[data-amplify-authenticator] [data-authenticator-variation='modal']::before {
  // Fill modal space, but don't scroll
  position: absolute;
  width: 100%;
  height: 100%;

  content: '';
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='texture' data-v-1d260e0e=''%3E%3Cfilter id='noise' data-v-1d260e0e=''%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.8' numOctaves='4' stitchTiles='stitch' data-v-1d260e0e=''%3E%3C/feTurbulence%3E%3CfeColorMatrix type='saturate' values='0' data-v-1d260e0e=''%3E%3C/feColorMatrix%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' data-v-1d260e0e=''%3E%3C/rect%3E%3C/svg%3E");
  opacity: 0.35;
  filter: 'contrast(120%) brightness(120%)';
}

[data-amplify-authenticator] [data-amplify-container] {
  /* Fix z-index of texture being over the Authenticator */
  position: relative;

  background-color: var(--amplify-colors-background-primary);
  box-shadow: var(--amplify-shadows-small);
  place-self: center;
  width: 460px;
  @media (max-width: 30em) {
    width: 100%;
  }
}

[data-amplify-authenticator] [data-amplify-form] {
  padding: var(--amplify-space-xl);
}

[data-amplify-authenticator] [data-state='inactive'][role='tab'] {
  background-color: var(--amplify-colors-background-secondary);
}

/* Remove double-border between the password field & reveal button */
[data-amplify-authenticator] .amplify-passwordfield .amplify-button {
  border-left: none;
}

/* Remove double-border between the phone field & country select  */
[data-amplify-authenticator] .amplify-phonenumberfield select {
  border-right: none;
}
