/* Center by default */
[data-amplify-authenticator] {
  display: grid;

  &[data-variation='modal'] {
    display: grid;
    width: var(--amplify-components-authenticator-modal-width);
    height: var(--amplify-components-authenticator-modal-height);
    background-color: var(--amplify-colors-overlay-50);

    /* Override browser default `body { margin: 8px }` */
    position: fixed;
    top: var(--amplify-components-authenticator-modal-top);
    left: var(--amplify-components-authenticator-modal-left);

    /* Having a z-index at least "wins" by default */
    z-index: 1;
  }

  & [data-amplify-container] {
    /* Fix z-index of texture being over the Authenticator */
    place-self: var(--amplify-components-authenticator-container-place-self);
    width: var(--amplify-components-authenticator-container-width-handheld);
    @media (min-width: 30rem) {
      width: var(--amplify-components-authenticator-container-width-desktop);
      max-width: var(--amplify-components-authenticator-container-width-max);
    }
  }

  & [data-amplify-router] {
    background-color: var(--amplify-colors-background-primary);
    box-shadow: var(--amplify-shadows-medium);
    border-color: var(--amplify-components-authenticator-router-border-color);
    border-width: var(--amplify-components-authenticator-router-border-width);
    border-style: solid;
  }

  & [data-amplify-footer] {
    padding-bottom: var(--amplify-space-medium);
    text-align: center;
  }

  & [data-amplify-form] {
    padding: var(--amplify-space-xl);
  }

  & [data-state='inactive'] {
    background-color: var(--amplify-colors-background-secondary);
  }

  & .amplify-passwordfield .amplify-button:not(:focus) {
    border-left: none; /* Remove double-border between the password field & reveal button */
  }

  & [data-or-container] {
    position: relative;
    color: var(--amplify-colors-neutral-80);
    align-items: center;
    justify-content: center;
    padding: var(--amplify-space-relative-large) var(--amplify-space-zero);

    & [data-or-line] {
      position: absolute;
      background: var(--amplify-colors-background-primary);
      z-index: 1;
      padding: var(--amplify-space-zero) var(--amplify-space-relative-large);
    }
  }
}

[data-amplify-copy] {
  display: flex;
  font-size: var(--amplify-font-sizes-xs);
  gap: var(--amplify-space-relative-medium);
  justify-content: center;
  align-items: center;
  word-break: break-all;
}

[data-amplify-copy-svg] {
  cursor: pointer;
  position: relative;

  path {
    fill: var(--amplify-colors-font-primary);
  }

  &:hover [data-amplify-copy-tooltip] {
    visibility: visible;
    font-size: var(--amplify-font-sizes-xxs);
  }
}

[data-amplify-copy-tooltip] {
  visibility: hidden;
  position: absolute;
  bottom: var(--amplify-space-large);
  color: var(--amplify-colors-teal-100);
}
