.amplify-card {
  background-color: var(--amplify-components-card-background-color);
  border-radius: var(--ammplify-components-card-border-radius);
  border: var(--amplify-components-card-border);
  box-shadow: var(--amplify-components-card-box-shadow);
  display: inline-block;
  padding: var(--amplify-components-card-padding);
}
