.amplify-checkbox {
  cursor: var(--amplify-components-checkbox-cursor);
  align-items: var(--amplify-components-checkbox-align-items);
  justify-content: var(--amplify-components-checkbox-justify-content);
  gap: inherit;
  &[data-disabled='true'] {
    cursor: var(--amplify-components-checkbox-disabled-cursor);
  }
}

.amplify-checkbox__button {
  position: var(--amplify-components-checkbox-button-position);
  align-items: var(--amplify-components-checkbox-button-align-items);
  justify-content: var(--amplify-components-checkbox-button-justify-content);
  color: var(--amplify-components-checkbox-button-color);

  &::before {
    content: var(--amplify-components-checkbox-button-before-content);
    display: var(--amplify-components-checkbox-button-before-display);
    position: var(--amplify-components-checkbox-button-before-position);
    width: var(--amplify-components-checkbox-button-before-width);
    height: var(--amplify-components-checkbox-button-before-height);
    box-sizing: var(--amplify-components-checkbox-button-before-box-sizing);
    border-width: var(--amplify-components-checkbox-button-before-border-width);
    border-radius: var(
      --amplify-components-checkbox-button-before-border-radius
    );
    border-style: var(--amplify-components-checkbox-button-before-border-style);
    border-color: var(--amplify-components-checkbox-button-before-border-color);

    &[data-disabled='true'] {
      border-color: var(
        --amplify-components-checkbox-button-before-disabled-color
      );
    }
  }

  &[data-focus='true'] {
    outline-color: var(
      --amplify-components-checkbox-button-focus-outline-color
    );
    outline-style: var(
      --amplify-components-checkbox-button-focus-outline-style
    );
    outline-width: var(
      --amplify-components-checkbox-button-focus-outline-width
    );
    outline-offset: var(
      --amplify-components-checkbox-button-focus-outline-offset
    );
    &::before {
      border-color: var(
        --amplify-components-checkbox-button-focus-border-color
      );
      box-shadow: var(--amplify-components-checkbox-button-focus-box-shadow);
    }
  }
}

.amplify-checkbox__icon {
  transform: var(--amplify-components-checkbox-icon-transform);
  border-radius: var(--amplify-components-checkbox-icon-border-radius);
  transition-property: var(
    --amplify-components-checkbox-icon-transition-property
  );
  transition-duration: var(
    --amplify-components-checkbox-icon-transition-duration
  );
  transition-timing-function: var(
    --amplify-components-checkbox-icon-transition-timing-function
  );
}

.amplify-checkbox__icon[data-checked='true'] {
  background-color: var(
    --amplify-components-checkbox-icon-checked-background-color
  );
  transform: var(--amplify-components-checkbox-icon-checked-transform);

  &[data-emphasized='true'] {
    background-color: var(
      --amplify-components-checkbox-icon-checked-emphasized-background-color
    );
  }

  &[data-disabled='true'] {
    background-color: var(
      --amplify-components-checkbox-icon-checked-disabled-background-color
    );
  }
}

.amplify-checkbox__label[data-disabled='true'] {
  color: var(--amplify-components-checkbox-label-disabled-color);
}
