.amplify-checkbox {
  cursor: pointer;
  &[data-disabled='true'] {
    cursor: not-allowed;
  }
}

.amplify-checkbox__button {
  position: relative;
  color: white;

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-width: 2px;
    border-radius: 20%;
    border-style: solid;
    border-color: hsl(210, 6%, 70%);

    &[data-disabled='true'] {
      border-color: hsl(210, 5%, 90%);
    }
  }

  &[data-focus='true'] {
    outline-color: var(--amplify-components-fieldcontrol-outline-color);
    outline-style: var(--amplify-components-fieldcontrol-outline-style);
    outline-width: var(--amplify-components-fieldcontrol-outline-width);
    outline-offset: var(--amplify-components-fieldcontrol-outline-offset);
    &::before {
      border-color: transparent;
      box-shadow: 0 0 0 3px hsl(190, 100%, 15%);
    }
  }
}

.amplify-checkbox__icon {
  transform: scale(0);
  border-radius: 20%;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

.amplify-checkbox__icon[data-checked='true'] {
  background-color: hsl(210, 6%, 70%);
  transform: scale(1);

  &[data-emphasized='true'] {
    background-color: hsl(220, 70%, 70%);
  }

  &[data-disabled='true'] {
    background-color: hsl(210, 5%, 90%);
  }
}

.amplify-checkbox__label[data-disabled='true'] {
  color: hsl(210, 5%, 80%);
}
