.amplify-collection {
  flex-direction: column;
  &-pagination {
    justify-content: center;
    --amplify-components-pagination-current-color: var(
      --amplify-components-collection-pagination-current-color
    );
    --amplify-components-pagination-current-background-color: var(
      --amplify-components-collection-pagination-current-background-color
    );
    --amplify-components-pagination-button-color: var(
      --amplify-components-collection-pagination-button-color
    );
    --amplify-components-pagination-button-hover-color: var(
      --amplify-components-collection-pagination-button-hover-color
    );
    --amplify-components-pagination-button-hover-background-color: var(
      --amplify-components-collection-pagination-button-hover-background-color
    );
    --amplify-components-pagination-button-disabled-color: var(
      --amplify-components-collection-pagination-button-disabled-color
    );
  }
  &-search {
    flex-direction: row;
    justify-content: center;
    --amplify-components-searchfield-color: var(
      --amplify-components-collection-search-color
    );
    --amplify-components-searchfield-search-color: var(
      --amplify-components-collection-search-button-color
    );
    --amplify-components-searchfield-search-disabled-color: var(
      --amplify-components-collection-search-button-disabled-color
    );
    --amplify-components-searchfield-search-disabled-background-color: var(
      --amplify-components-collection-search-button-disabled-background-color
    );
    --amplify-components-searchfield-search-hover-color: var(
      --amplify-components-collection-search-button-hover-color
    );
    --amplify-components-searchfield-search-hover-background-color: var(
      --amplify-components-collection-search-button-hover-background-color
    );
    --amplify-components-searchfield-search-focus-color: var(
      --amplify-components-collection-search-button-focus-color
    );
    --amplify-components-searchfield-search-focus-background-color: var(
      --amplify-components-collection-search-button-focus-background-color
    );
  }
}
