[data-amplify-copy] {
  display: flex;
  font-size: var(--amplify-components-copy-font-size);
  gap: var(--amplify-components-copy-gap);
  justify-content: center;
  align-items: center;
  word-break: break-all;
}

[data-amplify-copy-svg] {
  cursor: pointer;
  position: relative;

  path {
    fill: var(--amplify-components-copy-svg-path-fill);
  }

  &:hover [data-amplify-copy-tooltip] {
    visibility: visible;
    font-size: var(--amplify-components-copy-tool-tip-font-size);
  }
}

[data-amplify-copy-tooltip] {
  visibility: hidden;
  position: absolute;
  bottom: var(--amplify-components-copy-tool-tip-bottom);
  color: var(--amplify-components-copy-tool-tip-color);
}
