.amplify-divider {
  border-color: var(--amplify-components-divider-border-color);
  border-style: var(--amplify-components-divider-border-style);
  border-width: 0;
  margin: 0;
  opacity: var(--amplify-components-divider-opacity);
  padding: 0;
  display: block;
  position: relative;
  text-align: center;

  &[aria-orientation='horizontal'] {
    width: 100%;
    border-bottom-width: var(--amplify-components-divider-border-width);

    &[data-size='small'] {
      border-bottom-width: var(--amplify-components-divider-small-border-width);
    }

    &[data-size='large'] {
      border-bottom-width: var(--amplify-components-divider-large-border-width);
    }
  }

  &[aria-orientation='vertical'] {
    border-left-width: var(--amplify-components-divider-border-width);

    &[data-size='small'] {
      border-left-width: var(--amplify-components-divider-small-border-width);
    }

    &[data-size='large'] {
      border-left-width: var(--amplify-components-divider-large-border-width);
    }
  }
  
  &[data-label] {
    &::after {
      content: attr(data-label);
      position: absolute;
      top: calc(var(--amplify-components-divider-label-font-size) * -0.5);
      font-size: var(--amplify-components-divider-label-font-size);
      padding-block: var(--amplify-components-divider-label-padding-block);
      padding-inline: var(--amplify-components-divider-label-padding-inline);
      background-color: var(--amplify-components-divider-label-background-color);
      color: var(--amplify-components-divider-label-color);
      line-height: 1;
    }
  }
}
