@import 'fieldControl';

.amplify-field {
  font-size: var(--amplify-components-field-font-size);
  gap: var(--amplify-components-field-gap);
  &[data-size='small'] {
    font-size: var(--amplify-components-field-small-font-size);
    gap: var(--amplify-components-field-small-gap);
  }
  &[data-size='large'] {
    font-size: var(--amplify-components-field-large-font-size);
    gap: var(--amplify-components-field-large-gap);
  }

  // Required to override docs styling
  // css-s90uia p { margin-bottom: 1rem; }
  // @TODO: remove styling from docs
  .amplify-field__description,
  .amplify-field__error-message {
    margin: 0;
  }
}
