[data-label-position='start'] {
  flex-direction: row;
}

[data-label-position='end'] {
  flex-direction: row-reverse;
}

[data-label-position='top'] {
  flex-direction: column;
}

[data-label-position='bottom'] {
  flex-direction: column-reverse;
}
