.amplify-fieldset {
  gap: var(--amplify-components-fieldset-gap);
  flex-direction: var(--amplify-components-fieldset-flex-direction);
  font-size: var(--amplify-components-fieldset-font-size);
  &--horizontal {
    align-items: var(--amplify-components-fieldset-horizontal-align-items);
    flex-direction: var(
      --amplify-components-fieldset-horizontal-flex-direction
    );
  }
  /* Sizes */
  &--small {
    font-size: var(--amplify-components-fieldset-small-font-size);
    gap: var(--amplify-components-fieldset-small-gap);
  }
  &--large {
    font-size: var(--amplify-components-fieldset-large-font-size);
    gap: var(--amplify-components-fieldset-large-gap);
  }
  /* Variations */
  &--outlined {
    border: var(--amplify-components-fieldset-outlined-border-width)
      var(--amplify-components-fieldset-outlined-border-style)
      var(--amplify-components-fieldset-outlined-border-color);
    padding: var(--amplify-components-fieldset-outlined-padding);
    &.amplify-fieldset--small {
      padding: var(--amplify-components-fieldset-outlined-small-padding);
    }
    &.amplify-fieldset--large {
      padding: var(--amplify-components-fieldset-outlined-large-padding);
    }
  }
}

.amplify-fieldset-legend {
  color: var(--amplify-components-fieldset-legend-color);
  font-weight: var(--amplify-components-fieldset-legend-font-weight);
  line-height: var(--amplify-components-fieldset-legend-line-height);
}
