@import 'fieldControl';

.amplify-field {
  font-size: var(--amplify-components-field-font-size);
  gap: var(--amplify-components-field-gap);
  &[data-size='small'] {
    font-size: var(--amplify-components-field-small-font-size);
    gap: var(--amplify-components-field-small-gap);
  }
  &[data-size='large'] {
    font-size: var(--amplify-components-field-large-font-size);
    gap: var(--amplify-components-field-large-gap);
  }
}

.amplify-label {
  color: var(--amplify-components-field-label-color);
}
