.amplify-fileuploader {
  &__dropzone {
    background-color: var(--amplify-components-fileuploader-dropzone-background-color);
    border-color: var(--amplify-components-fileuploader-dropzone-border-color);
    border-radius: var(--amplify-components-fileuploader-dropzone-border-radius);
    border-style: var(--amplify-components-fileuploader-dropzone-border-style);
    border-width: var(--amplify-components-fileuploader-dropzone-border-width);
    text-align: var(--amplify-components-fileuploader-dropzone-text-align);
    padding-block: var(--amplify-components-fileuploader-dropzone-padding-block);
    padding-inline: var(--amplify-components-fileuploader-dropzone-padding-inline);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--amplify-components-fileuploader-dropzone-gap);
    
    &--small {
      flex-direction: row;
      justify-content: center;
    }
    
    &--active {
      border-color: var(--amplify-components-fileuploader-dropzone-active-border-color);
      border-width: var(--amplify-components-fileuploader-dropzone-active-border-width);
      background-color: var(--amplify-components-fileuploader-dropzone-active-background-color);
    }
    
    
    &__icon {
      font-size: var(--amplify-components-fileuploader-dropzone-icon-font-size);
      color: var(--amplify-components-fileuploader-dropzone-icon-color);
    }
    
    &__text {
      color: var(--amplify-components-fileuploader-dropzone-text-color);
      font-size: var(--amplify-components-fileuploader-dropzone-text-font-size);
      font-weight: var(--amplify-components-fileuploader-dropzone-text-font-weight);
    }
  }
}

.amplify-fileuploader__previewer {
  padding: 0;
  display: flex;
  flex-direction: column;
  max-height: 40rem;
  max-width: 25rem;
  overflow: hidden;
}

.amplify-fileuploader__previewer__body {
  display: flex;
  flex: 1;
  overflow: auto;
  flex-direction: column;
  gap: var(--amplify-space-small);
  padding: var(--amplify-space-medium);
}

.amplify-fileuploader__footer {
  position: relative;
  padding: var(--amplify-space-medium);
  display: flex;
  flex-direction: row;
  border-top: var(--amplify-border-widths-small) solid
    var(--amplify-colors-border-secondary);
}

.amplify-fileuploader__footer > .amplify-fileuploader-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.amplify-fileuploader__footer > *:first-child {
  flex: 1;
}

.amplify-fileuploader-file {
  .amplify-image {
    object-fit: cover;
    border-radius: var(--amplify-radii-small);
  }
}
