/*
 * Icon base styles
 */

.amplify-icon {
  display: inline-block;
  vertical-align: middle;
  height: var(--amplify-components-icon-height);
  line-height: var(--amplify-components-icon-line-height);
  & > svg {
    height: var(--amplify-components-icon-height);
    width: var(--amplify-components-icon-height);
  }
}
