.amplify-liveness__cancel-button {
  background-color: var(--amplify-colors-background-primary);
}

.amplify-liveness__recording-icon {
  flex-direction: column;
  align-items: center;
  background-color: var(--amplify-colors-background-primary);
  padding: var(--amplify-space-xxs);
  gap: var(--amplify-space-xxs);
  border-radius: var(--amplify-radii-small);
}

.amplify-liveness-fade-out {
  animation-name: amplify-liveness-animation-fadeout;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes amplify-liveness-animation-fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.amplify-liveness-camera-module {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(
    --amplify-components-liveness-camera-module-background-color
  );
  position: relative;
}

.amplify-liveness-camera-module__canvas {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
}

.amplify-liveness-camera-module__centered-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.amplify-liveness-camera-module__video-container {
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.amplify-liveness-camera-module__recording-icon-container {
  z-index: 1;
  position: absolute;
  top: var(--amplify-space-medium);
  left: var(--amplify-space-medium);
}

.amplify-liveness-camera-module__cancel-button-container {
  z-index: 2;
  position: absolute;
  top: var(--amplify-space-medium);
  right: var(--amplify-space-medium);
}

.amplify-liveness-camera-module__overlay--countdown {
  z-index: 1;
}

.amplify-liveness-camera-module__countdown-timer-container {
  background-color: var(--amplify-colors-background-primary);
  border-radius: 100%;
  padding: 8px;
}

.amplify-liveness-description-bullet {
  flex-direction: row;
  gap: var(--amplify-space-small);
}

.amplify-liveness-description-bullet__index-container {
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: var(--amplify-colors-brand-primary-80);
  width: var(--amplify-space-xl);
  height: var(--amplify-space-xl);
}

.amplify-liveness-description-bullet__index {
  font-weight: var(--amplify-font-weights-bold);
  color: var(--amplify-colors-font-inverse);
}

.amplify-liveness-description-bullet__message-container {
  flex-direction: column;
  gap: var(--amplify-space-xxs);
}

.amplify-liveness-description-bullet__message--title {
  font-weight: var(--amplify-font-weights-bold);
}

.amplify-liveness-description-bullet__message--body {
  color: var(--amplify-colors-font-primary);
}

@media (pointer: coarse) and (hover: none) {
  .amplify-liveness-camera-module {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
