.amplify-liveness-cancel-container {
  z-index: 2;
  position: absolute;
  top: var(--amplify-space-medium);
  right: var(--amplify-space-medium);
}

.amplify-liveness-cancel-button {
  background-color: var(--amplify-colors-background-primary);
}

.amplify-liveness-fade-out {
  animation-name: amplify-liveness-animation-fadeout;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes amplify-liveness-animation-fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.amplify-liveness-camera-module {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(
    --amplify-components-liveness-camera-module-background-color
  );
  border: 1px solid var(--amplify-colors-neutral-40);
  position: relative;
}

.amplify-liveness-camera-module--mobile {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.amplify-liveness-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.amplify-liveness-freshness-canvas {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
}

.amplify-liveness-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.amplify-liveness-oval-canvas {
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.amplify-liveness-oval-canvas--mobile {
  position: fixed;
}

.amplify-liveness-video-anchor {
  position: relative;
  width: 100%;
}

.amplify-liveness-recording-icon-container {
  z-index: 1;
  position: absolute;
  top: var(--amplify-space-medium);
  left: var(--amplify-space-medium);
}

.amplify-liveness-recording-icon {
  flex-direction: column;
  align-items: center;
  background-color: var(--amplify-colors-background-primary);
  padding: var(--amplify-space-xxs);
  gap: var(--amplify-space-xxs);
  border-radius: var(--amplify-radii-small);
}

.amplify-liveness-instruction-overlay {
  z-index: 1;
}

.amplify-liveness-countdown-container {
  background-color: var(--amplify-colors-background-primary);
  border-radius: 100%;
  padding: var(--amplify-space-xs);
}

.amplify-liveness-description-bullet {
  flex-direction: row;
  gap: var(--amplify-space-small);
}

.amplify-liveness-description-bullet__index {
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: var(--amplify-space-xl);
  height: var(--amplify-space-xl);
}

.amplify-liveness-toast {
  background-color: var(--amplify-colors-background-primary);
}
.amplify-liveness-toast__message {
  color: var(--amplify-colors-font-primary);
}

.amplify-liveness-toast--large {
  font-size: var(--amplify-font-sizes-xl);
}

.amplify-liveness-toast--primary {
  background-color: var(--amplify-colors-brand-primary-80);

  .amplify-liveness-toast__message {
    color: var(--amplify-colors-font-inverse);
  }
}

.amplify-liveness-toast--error {
  background-color: var(--amplify-colors-red-80);

  .amplify-liveness-toast__message {
    color: var(--amplify-colors-white);
  }
}

.amplify-liveness-match-indicator {
  display: block;
  width: min(70%, 200px);
  position: relative;
}

.amplify-liveness-match-indicator__bar {
  --percentage: 0;
  display: block;
  width: 100%;
  height: var(--amplify-space-medium);
  border-radius: var(--amplify-radii-medium);
  background: var(--amplify-colors-white);
  position: relative;
  overflow: hidden;
  border: 1px solid var(--amplify-colors-border-tertiary);
}

.amplify-liveness-match-indicator__pin {
  --percentage: 0;
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(var(--percentage), 0);
  transition: transform 0.2s ease-out;
}

.amplify-liveness-match-indicator__bar:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: var(--amplify-colors-brand-primary-40);
  left: -100%;
  transform: translate(var(--percentage), 0);
  transition: transform 0.3s ease-out;
}

.amplify-liveness-match-indicator__pin:after {
  --height: var(--amplify-space-xl);
  position: absolute;
  content: '';
  width: var(--amplify-space-small);
  height: var(--height);
  border-radius: var(--amplify-radii-medium);
  background: var(--amplify-colors-brand-primary-80);
  left: 0;
  top: 0;
  transform: translate(-50%, calc(var(--height) / 2 * -1));
}
