.amplify-menu-trigger {
  display: flex;
  justify-content: center;
  align-items: center;
}
// This is an ugly hack for now because it is the only way to get a 
// non-portalled menu to appear above content below it. Currently, 
// there is no way to target this element that Radix adds to the DOM
// and because it is the element that is positioning the menu
// it needs a z-index. Adding a z-index anywhere else in the DOM hierarchy
// won't matter. 
[data-radix-popper-content-wrapper] {
  z-index: 2;
}
.amplify-menu-content {
  background-color: var(--amplify-components-menu-background-color);
  border-radius: var(--amplify-components-menu-border-radius);
  box-shadow: var(--amplify-components-menu-box-shadow);
  flex-direction: var(--amplify-components-menu-flex-direction);
  gap: var(--amplify-components-menu-gap);
  min-width: var(--amplify-components-menu-min-width);
  max-width: var(--amplify-components-menu-max-width);
  border-color: var(--amplify-components-menu-border-color);
  border-width: var(--amplify-components-menu-border-width);
  border-style: var(--amplify-components-menu-border-style);
}
.amplify-menu-content__item {
  min-height: var(--amplify-components-menu-item-min-height);
  padding-inline-start: var(
    --amplify-components-menu-item-padding-inline-start
  );
  padding-inline-end: var(--amplify-components-menu-item-padding-inline-end);
}

// Remove Button border radius to fit within content wrapper
// but only the menu items in between first and last
.amplify-menu-content__item:not(:first-child):not(:last-child) {
  border-radius: 0;
}

// Remove Button bottom border radius from first menu item
.amplify-menu-content__item:first-child {
  border-end-end-radius: 0; // border-bottom-right-radius (ltr reading mode)
  border-end-start-radius: 0; // border-bottom-left-radius (ltr reading mode)

  // required for Safari 14 and below
  // see: https://caniuse.com/mdn-css_properties_border-end-end-radius
  @supports not (border-end-end-radius: 0) {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

// Remove Button top border radius from last menu item
.amplify-menu-content__item:last-child {
  border-start-end-radius: 0; // border-top-right-radius (ltr reading mode)
  border-start-start-radius: 0; // border-top-left-radius (ltr reading mode)

  // required for Safari 14 and below
  // see: https://caniuse.com/mdn-css_properties_border-end-end-radius
  @supports not (border-end-end-radius: 0) {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}
