// .amplify-menu {
// }
.amplify-menu__trigger {
  width: 3.25rem;
  height: 3.25rem;
}
.amplify-menu__content {
  flex-direction: column;
  gap: 0;
  background-color: var(--amplify-components-menu-background-color);
  min-width: var(--amplify-components-menu-min-width);
  box-shadow: var(--amplify-components-menu-box-shadow);
  border-radius: var(--amplify-components-menu-border-radius);
  .amplify-menu__button:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
  .amplify-menu__button:first-child {
    border-end-end-radius: 0; // border-bottom-right-radius (ltr reading mode)
    border-end-start-radius: 0; // border-bottom-left-radius (ltr reading mode)

    // required for Safari 14 and below
    // see: https://caniuse.com/mdn-css_properties_border-end-end-radius
    @supports not (border-end-end-radius: 0) {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  .amplify-menu__button:last-child {
    border-start-end-radius: 0; // border-top-right-radius (ltr reading mode)
    border-start-start-radius: 0; // border-top-left-radius (ltr reading mode)

    // required for Safari 14 and below
    // see: https://caniuse.com/mdn-css_properties_border-end-end-radius
    @supports not (border-end-end-radius: 0) {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
  }
}
.amplify-button.amplify-menu__button {
  min-height: 2.5rem;

  // &:hover {
  //   color: var(--amplify-colors-white);
  //   background-color: var(--amplify-colors-brand-primary-80);
  // }
  // &:focus,
  // &:focus-visible,
  // &:focus-within {
  //   border-color: none;
  //   box-shadow: none;
  // }
  // &[data-variation='link'] {
  //   &:hover {
  //     background-color: none;
  //     color: currentColor;
  //   }
  // }
}
