.amplify-scrollview {
  display: block;
  overflow: scroll;
  &--horizontal {
    overflow-x: scroll;
    overflow-y: initial;
  }

  &--vertical {
    overflow-x: initial;
    overflow-y: scroll;
  }
}
