.amplify-scrollview {
  display: block;
  overflow: scroll;
  // @TODO: Deprecated - Remove in 3.0
  &--horizontal {
    overflow-x: scroll;
    overflow-y: initial;
  }
  // @TODO: Deprecated - Remove in 3.0
  &--vertical {
    // @TODO: Deprecated - Remove in 3.0
    overflow-x: initial;
    overflow-y: scroll;
  }
}
