.amplify-select__wrapper {
  flex: var(--amplify-components-select-wrapper-flex);
  display: var(--amplify-components-select-wrapper-display);
  position: var(--amplify-components-select-wrapper-position);
  cursor: var(--amplify-components-select-wrapper-cursor);
  align-self: stretch;
}

.amplify-select__icon-wrapper {
  align-items: var(--amplify-components-select-icon-wrapper-align-items);
  position: var(--amplify-components-select-icon-wrapper-position);
  top: var(--amplify-components-select-icon-wrapper-top);
  right: var(--amplify-components-select-icon-wrapper-right);
  transform: var(--amplify-components-select-icon-wrapper-transform);
  pointer-events: var(--amplify-components-select-icon-wrapper-pointer-events);
}

.amplify-select {
  @include amplify-field-control;
  // default styles
  min-width: var(--amplify-components-select-min-width);
  padding-inline-end: var(--amplify-components-select-padding-inline-end);
  white-space: var(--amplify-components-select-white-space);

  // For Chrome on Windows, fixes darkmode text color
  option {
    color: initial;

    &[disabled=''] {
      color: var(--amplify-components-select-option-disabled-color);
    }
  }

  // for Firefox only, to fix background color in darkmode
  @-moz-document url-prefix() {
    option {
      background-color: var(
        --amplify-components-select-option-background-color
      );
      color: var(--amplify-components-select-option-color);
    }
  }

  &--small {
    min-width: var(--amplify-components-select-small-min-width);
  }

  &--large {
    min-width: var(--amplify-components-select-large-min-width);
  }
}
