.amplify-tabs {
  background-color: var(--amplify-components-tabs-background-color);
  box-shadow: var(--amplify-components-tabs-box-shadow);
  margin-bottom: var(--amplify-components-tabs-margin-bottom);
}

.amplify-tabs-item {
  background-color: var(--amplify-components-tabs-item-background-color);
  box-sizing: border-box;
  color: var(--amplify-components-tabs-item-color-primary);
  font-size: var(--amplify-components-tabs-item-font-size);
  font-weight: var(--amplify-components-tabs-item-font-weight);
  padding: var(--amplify-components-tabs-item-padding);
  text-align: var(--amplify-components-tabs-item-text-align);
  transition: all var(--amplify-components-tabs-item-transition-duration);

  // Radix data attribute
  &[data-state='active'] {
    color: var(--amplify-components-tabs-item-color-active);
    border-bottom: 2px var(--amplify-components-tabs-item-border-style)
      var(--amplify-components-tabs-item-color-active);
    transition-property: none;
  }

  &:hover {
    color: var(--amplify-components-tabs-item-color-active);
    cursor: pointer;
  }

  &:focus {
    background-color: #e8e8e8;
  }

  &:focus-visible {
    outline: var(--amplify-components-tabs-item-border-width)
      var(--amplify-components-tabs-item-border-style)
      var(--amplify-components-tabs-item-border-color);
  }

  &:active {
    background-color: #d6d6d6;
    color: var(--amplify-components-tabs-item-color-active);
  }

  &[data-disabled] {
    background-color: var(
      --amplify-components-tabs-item-disabled-background-color
    );
    border-color: var(--amplify-components-tabs-item-disabled-border-color);
    color: var(--amplify-components-tabs-item-disabled-color);
    cursor: not-allowed;
  }

  &[data-grow='equal'] {
    flex: 1 1 0;
  }

  &[data-grow='relative'] {
    flex-grow: 1;
  }
}
