.amplify-togglebuttongroup {
  align-items: var(--amplify-components-togglebuttongroup-align-items);
  align-content: var(--amplify-components-togglebuttongroup-align-content);
  justify-content: var(--amplify-components-togglebuttongroup-justify-content);
  gap: 0;
}

.amplify-togglebuttongroup {
  .amplify-togglebutton {
    &:focus,
    &.amplify-togglebutton--pressed {
      z-index: 2;
    }
    
    &:not(:first-of-type) {
      margin-inline-start: calc(-1 * var(--amplify-components-button-border-width));
      border-start-start-radius: 0;
      border-end-start-radius: 0;
      // required for Safari 14 and below
      // see: https://caniuse.com/mdn-css_properties_border-end-end-radius
      @supports not (border-start-start-radius: 0) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
    
    &:not(:last-of-type) {
      border-start-end-radius: 0;
      border-end-end-radius: 0;
      // required for Safari 14 and below
      // see: https://caniuse.com/mdn-css_properties_border-end-end-radius
      @supports not (border-end-end-radius: 0) {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }
}
