$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xl: 1280px;
$breakpoint-xxl: 1536px;

$font-code: 'Source Code Pro', 'Fira Code', 'Fira Mono', ui-monospace,
SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
monospace;
