@font-face {
  font-family: 'Inter var';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/Inter.var.woff2?v=3.19') format('woff2');
  font-named-instance: 'Regular';
}

@font-face {
  font-family: 'Inter var';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/Inter-italic.var.woff2?v=3.19') format('woff2');
  font-named-instance: 'Italic';
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Inter-Regular.woff2?v=3.19') format('woff2'),
    url('/fonts/Inter-Regular.woff?v=3.19') format('woff');
}

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

// Remove this when this gets fixed in the UI package
* {
  /* Selection */
  &::-moz-selection {
    background: var(--amplify-colors-overlay-10);
    color: inherit;
  }

  &::selection {
    background: var(--amplify-colors-overlay-10);
    color: inherit;
  }
}

html {
  // this enables some alternative styles and contextual characters to the font
  // https://rsms.me/inter/#features
  font-feature-settings: 'ss01', 'ss02', 'case', 'salt';
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

a {
  color: var(--amplify-components-link-color);
  [data-amplify-theme] & {
    cursor: pointer;
  }

  &:hover,
  &:focus {
    color: var(--amplify-components-link-hover-color);
  }

  &:active {
    color: var(--amplify-components-link-active-color);
  }
}

blockquote {
  padding: var(--amplify-space-medium);
  border-left: var(--amplify-border-widths-large) solid
    var(--amplify-colors-brand-secondary-60);
  margin: 0 0 var(--amplify-space-medium) 0;
  background-color: var(--amplify-colors-background-secondary);
}

img,
svg {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
}

p {
  margin: 0;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

code {
  padding: var(--amplify-space-xxxs) var(--amplify-space-xxs);
  background-color: var(--amplify-colors-background-secondary);
  font-size: 0.875em;
  border-radius: 0.3em;
  font-family: 'Source Code Pro', 'Fira Code', 'Fira Mono', ui-monospace,
    SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

h2 {
  font-size: var(--amplify-components-heading-2-font-size);
  font-weight: var(--amplify-components-heading-2-font-weight);
  margin: 0;
}

h3 {
  font-size: var(--amplify-components-heading-3-font-size);
  font-weight: var(--amplify-components-heading-3-font-weight);
}

h4 {
  font-size: var(--amplify-components-heading-4-font-size);
  font-weight: var(--amplify-components-heading-4-font-weight);
}

h2[id],
h3[id],
h4[id] {
  position: relative;
  margin-top: var(--amplify-space-large);
  margin-bottom: var(--amplify-space-small);
  // to offset sticky header
  scroll-margin-block-start: 6rem;
}

h2[id] {
  margin-top: var(--amplify-space-xxl);

  &::before {
    content: '';
    position: absolute;
    top: -1rem;
    left: 0;
    width: 5rem;
    border-top: var(--amplify-border-widths-large) solid
      var(--amplify-colors-border-tertiary);
  }
}

h2[id] > a,
h3[id] > a,
h4[id] > a {
  position: absolute;
  left: -1.75rem;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.icon-link {
  opacity: 0;
  transition: opacity var(--amplify-time-medium) ease;
  font-size: 0.875em;
  font-weight: normal;
}

.icon-link::after {
  content: '#';
}

h2:hover > a .icon-link,
h3:hover > a .icon-link {
  opacity: 1;
}

[data-amplify-theme='amplify-docs'] {
  background-color: var(--amplify-colors-background-primary);
  color: var(--amplify-colors-font-primary);
  min-height: 100vh;

  --amplify-borders-primary: var(--amplify-border-widths-small) solid
    var(--amplify-colors-border-primary);
  --amplify-borders-secondary: var(--amplify-border-widths-small) solid
    var(--amplify-colors-border-secondary);
  --amplify-borders-tertiary: var(--amplify-border-widths-small) solid
    var(--amplify-colors-border-tertiary);

  /* custom vars */
  --docs-header-height: 4rem;
}

.container {
  max-width: 125em; // 2000px;
  margin-right: auto;
  margin-left: auto;
}
