@import './variables';

.docs-example {
  width: 100%;
  border: var(--amplify-border-widths-small) solid var(--amplify-colors-border-secondary);
  border-radius: var(--amplify-radii-small);
  background-color: var(--amplify-colors-background-primary);
}

.docs-example [data-amplify-authenticator] {
  display: grid;
  max-width: var(--amplify-components-authenticator-max-width);
  margin: auto;
}

.docs-example [data-amplify-authenticator][data-variation='modal'] {
  position: relative;
  width: 100%;
  height: 100%;
  padding: var(--amplify-space-relative-xxxl);
}

.docs-example pre {
  margin: 0;
}

.docs-example__actions {
  display: flex;
  flex-direction: row;
  padding: var(--amplify-space-xs);
  border-block-start: 1px solid var(--amplify-colors-border-secondary);
}

.docs-example__actions__ides {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: var(--amplify-space-xs);
  font-size: var(--amplify-font-sizes-small);
  color: var(--amplify-colors-font-tertiary);
}

.docs-example__preview,
.docs-example > *:first-child {
  padding: var(--amplify-space-medium);
}

.docs-example__code {
  position: relative;
  background: var(--amplify-colors-background-secondary);
  width: 100%;
  font-family: $font-code;
  border-block-start: 1px solid var(--amplify-colors-border-secondary);
}

@media (max-width: $breakpoint-medium) {
  h2#demo {
    display: none;
  }
}

.docs-component-demo {
  width: 100%;
  margin-bottom: var(--amplify-space-large);

  pre {
    white-space: pre-wrap;
    margin: 0;
  }

  & .example-copy-button {
    background: var(--amplify-colors-background-secondary);
    position: absolute;
    bottom: var(--amplify-space-small);
    right: var(--amplify-space-medium);
  }
}

.example-styling-demo > .amplify-flex {
  align-items: flex-start;
}
