.docs-framework-chooser {
  flex-direction: column;
  gap: var(--amplify-space-xs);
}

.docs-framework-link {
  justify-content: flex-start;
  border-color: var(--amplify-colors-border-secondary);
  gap: var(--amplify-space-xs);
  
  &.current {
    background-color: var(--amplify-components-button-hover-background-color);
    border-color: var(--amplify-components-button-active-border-color);
  }
}

.docs-framework-img {
  display: block;
  width: var(--amplify-font-sizes-large);
  height: var(--amplify-font-sizes-large);
}
