.docs-header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--amplify-colors-background-primary);
  z-index: 2;
  border-bottom: var(--amplify-borders-primary);
}

.docs-header-menu-button {
  @media (min-width: 62rem) {
    display: none;
  }
}

.docs-nav {
  visibility: hidden;
  width: 0;
  flex-shrink: 1;
  
  @media (min-width: 62rem) {
    visibility: visible;
    flex-grow: 1;
    padding: 0 var(--amplify-space-medium);
  }
}

[data-amplify-theme] .docs-nav-link {
  padding: var(--amplify-space-xs) var(--amplify-space-small);
  text-decoration: none;
  color: var(--amplify-colors-font-secondary);
  display: inline-block;
  font-weight: 500;
  /* why do I need to do this? */
  cursor: pointer;
}

[data-amplify-theme] .docs-nav-link:hover {
  color: var(--amplify-colors-font-interactive);
}

.docs-nav > .amplify-divider {
  margin: var(--amplify-space-small);
  height: 1rem;
  border-color: var(--amplify-colors-border-secondary);
}

[data-amplify-theme] .docs-nav-link.current {
  color: var(--amplify-colors-font-interactive);
  background-color: var(--amplify-colors-brand-primary-10);
}


.docs-logo-svg {
  height: 1.5rem;
  display: inline-block;
  vertical-align: middle;
}

.docs-logo-link {
  display: inline-block;
  color: var(--amplify-colors-font-secondary);
  text-decoration: none;
  cursor: pointer;
  transition: all 1s ease;
}

.docs-logo-link:hover {
  --amplify-colors-font-primary: var(--amplify-colors-brand-primary-60);
}

.docs-logo-link:active {
  --amplify-colors-font-primary: var(--amplify-colors-brand-primary-80);
}

.docs-logo-link path {
  transition: all var(--amplify-time-transition-short) ease;
}
