@import './variables';

.docs-header {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--amplify-space-small) var(--amplify-space-medium);
  z-index: 100;
  backdrop-filter: blur(10px);

  @media (max-width: $breakpoint-large) {
    border-bottom: var(--amplify-borders-secondary);
    box-shadow: var(--amplify-shadows-small);
  }
  
  .docs-home & {
    border-bottom: var(--amplify-borders-secondary);
    box-shadow: var(--amplify-shadows-small);
  }
}

.docs-header > .docs-logo-link {
  display: inline-flex;
  
  @media (min-width: $breakpoint-large) {
    display: none;
    
    .docs-home & {
      display: inline-flex;
    }
  }
}

// The same menu button is used in the sidebar and header
// we want to hide it in certain scenarios so it can't be tabbed to
.docs-header-menu-button {
  @media (min-width: $breakpoint-large) {
    display: none;
    .docs-home & {
      display: inline-flex;
    }
  }
  
  &.close {
    .docs-header > & { display: none; }
  }
  
  &.open {
    .docs-sidebar & { display: none; }
  }
}

.docs-header-bg {
  z-index: -1;
  background-color: var(--amplify-colors-background-primary);
  opacity: 0.75;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.docs-logo-svg {
  height: var(--amplify-font-sizes-large);
  display: inline-block;
  vertical-align: middle;
  position: relative;
  // because the logo is text in the SVG with descenders (p,y),
  // this is to make the baseline of the logo text line up
  top: 0.125rem;
}

.docs-logo-link:hover {
  --amplify-colors-font-primary: var(--amplify-colors-brand-primary-60);
}

.docs-logo-link:active {
  --amplify-colors-font-primary: var(--amplify-colors-brand-primary-80);
}

.docs-logo-link path {
  transition: all var(--amplify-time-short) ease;
}

.docs-header-icon {
  width: 1rem;
  height: 1rem;
}
