.docs-home-description {
  color: var(--amplify-colors-font-secondary);
  font-size: var(--amplify-font-sizes-xl);
}

.docs-home-feature-card {
  /* box-shadow: none; */
  border-width: 0;
}

.docs-home-flutter {
  height: 10rem;
  padding: 1.4rem 0 0.6rem 0.75rem;
}

.docs-home-vue {
  height: 10rem;
}

.docs-home-react {
  height: 10rem;
}

.docs-home-angular {
  height: 10rem;
}

.docs-home-section {
  position: relative;
  padding: var(--amplify-space-xxl);
}

.install-code {
  display: flex;
  align-items: center;
}

.docs-home-amp-product-card {
  transition: transform var(--amplify-time-medium) ease;
  display: block;

  &:hover {
    transform: scale(1.05);
  }

  & > .amplify-card {
    width: 100%;
  }
}
