@import './variables';

.docs-home-description {
  color: var(--amplify-colors-font-secondary);
  font-size: var(--amplify-font-sizes-xl);
}

.docs-home-feature-card {
  border-width: 0;
}

.docs-home-flutter {
  height: 10rem;
  padding: 1.4rem 0 0.6rem 0.75rem;
}

.docs-home-vue {
  height: 10rem;
}

.docs-home-react {
  height: 10rem;
}

.docs-home-angular {
  height: 10rem;
}

.docs-home-section {
  position: relative;
  padding: var(--amplify-space-xxxl) var(--amplify-space-xl);
}

.docs-home-cta {
  background-color: var(--amplify-colors-background-primary);
  box-shadow: var(--amplify-shadows-medium);
  padding-block: var(--amplify-space-medium);
  padding-inline: var(--amplify-space-large);
  gap: var(--amplify-space-small);
}

.docs-home .docs-main {
  
  & .amplify-heading {
    margin-bottom: var(--amplify-space-large);
    font-weight: var(--amplify-font-weights-bold);
    & > strong {
      position: relative;
      font-weight: var(--amplify-font-weights-black);
      &::after {
        content: '';
        position: absolute;
        bottom: calc(-1 * var(--amplify-space-xs)); left: 0; right: 0;
        height: var(--amplify-space-xs);
        background-color: var(--amplify-colors-brand-secondary-60);
        background-image: linear-gradient(90deg, var(--amplify-colors-brand-secondary-40) 0%, var(--amplify-colors-brand-primary-40) 100%);
        transform: skewX(-15deg);
      }
    }
  }
}

.docs-home-container {
  max-width: 60rem;
  margin: 0 auto;
}

.install-code__container {
  display: flex;
  background-color: var(--amplify-colors-background-primary);
  border-radius: var(--amplify-radii-medium);
  align-items: center;
  box-shadow: var(--amplify-shadows-medium);
  padding: var(--amplify-space-xs);
}

.install-code__content {
  flex: 1;
  margin: 0 var(--amplify-space-medium);
  overflow-x: auto;
  white-space: normal;
  background-color: var(--amplify-colors-background-primary);
  font-size: var(--amplify-font-sizes-large);
  
  &::before {
    content: '$';
    color: var(--amplify-colors-brand-secondary-40);
    margin-inline-end: var(--amplify-space-small);
  }
}

.install-code__button {
  place-self: end;
  align-self: center;
  // Hiding on smaller screens
  // because there's not enough space
  @media (max-width: $breakpoint-small) {
    display: none;
  }
}

.docs-home-amp-product-card {
  position: relative;
  transition: transform var(--amplify-time-medium) ease;
  padding: var(--amplify-space-xl);
  border-radius: var(--amplify-radii-large);
  background-color: var(--amplify-colors-brand-secondary-60);
  background-image: linear-gradient(90deg, var(--amplify-colors-brand-secondary-60) 0%, var(--amplify-colors-brand-primary-60) 100%);
  color: var(--amplify-colors-font-inverse);
  text-shadow: 0 0 var(--amplify-font-sizes-medium) var(--amplify-colors-overlay-50);
  box-shadow: var(--amplify-shadows-medium);

  &:hover {
    transform: scale(1.05);
  }
}

.docs-home-amp-product-card-icon {
  font-size: var(--amplify-font-sizes-xxl);
  color: var(--amplify-colors-font-inverse);
  opacity: 0.5;
}

.docs-home-amp-product-card-title {
  font-weight: var(--amplify-font-weights-bold);
  font-size: var(--amplify-font-sizes-large);
  color: var(--amplify-colors-font-inverse);
}

.docs-home-amp-product-card-description {
  color: var(--amplify-colors-font-secondary);
  color: var(--amplify-colors-font-inverse);
}

.docs-home .docs-main {
  .docs-framework-chooser {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    padding: var(--amplify-space-xl) 0;
  }
  
  .docs-framework-link {
    flex: 1;
    flex-direction: column;
    padding: var(--amplify-space-large);
    font-size: var(--amplify-font-sizes-xl);
    background-color: var(--amplify-colors-background-primary);
    opacity: 0.75;
    box-shadow: var(--amplify-shadows-medium);
    border-color: var(--amplify-colors-brand-primary-40);
    transition: all var(--amplify-time-medium) ease;
    
    .docs-framework-img {
      transition: all var(--amplify-time-medium) ease;
    }
    
    &:hover,
    &.current {
      opacity: 1;
      border-color: var(--amplify-colors-brand-primary-80);
    }
    
    
    
    &:hover .docs-framework-img,
    &.current .docs-framework-img {
      filter: grayscale(0%);
      
    }
  }
  
  .docs-framework-img {
    width: var(--amplify-font-sizes-xxxxl);
    height: var(--amplify-font-sizes-xxxxl);
    filter: grayscale(100%);
  }
}

.docs-home-preview {
  padding: var(--amplify-space-large);
}

.docs-home-editor {
  max-height: 30rem;
  overflow-y: auto;
  font-size: var(--amplify-font-sizes-medium);
}

.npm__react-simple-code-editor__textarea {
  outline: none;
}


.docs-home-h1 {
  font-size: 5rem;
}

.docs-hero {
  background-image: url('/svg/grid.svg'),
    linear-gradient(0deg, hsla(var(--docs-gradient-color-hsl), 1) 0%, hsla(var(--docs-gradient-color-hsl), 0) 20%),
    linear-gradient(180deg, hsla(var(--docs-gradient-color-hsl), 1) 0%, hsla(var(--docs-gradient-color-hsl), 0) 20%);
  background-color: var(--docs-callout-bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--amplify-space-xxl);
  padding-top: 6rem;
}


.docs-grid-bg {
  background-image: url('/svg/grid.svg'),
    linear-gradient(0deg, hsla(var(--docs-gradient-color-hsl), 1) 0%, hsla(var(--docs-gradient-color-hsl), 0) 20%),
    linear-gradient(180deg, hsla(var(--docs-gradient-color-hsl), 1) 0%, hsla(var(--docs-gradient-color-hsl), 0) 20%);
}

.docs-gradient-bg {
  background-image: linear-gradient(0deg, hsla(var(--docs-gradient-color-hsl), 1) 0%, hsla(var(--docs-gradient-color-hsl), 0) 20%),
  linear-gradient(180deg, hsla(var(--docs-gradient-color-hsl), 1) 0%, hsla(var(--docs-gradient-color-hsl), 0) 20%),
    linear-gradient(
      86deg,
      var(--amplify-colors-brand-primary-10) 12%,
      rgba(255, 255, 255, 0) 94%
    ),
    radial-gradient(
      ellipse at 139% 104%,
      var(--amplify-colors-green-10) 24%,
      rgba(255, 255, 255, 0) 44%
    ),
    linear-gradient(57deg, var(--amplify-colors-pink-10) 24%, rgba(255, 255, 255, 0) 37%),
    radial-gradient(
      circle at 170% 64%,
      rgba(255, 255, 255, 0) 83%,
      var(--amplify-colors-brand-secondary-10) 100%
    ),
    linear-gradient(175deg, hsla(var(--docs-gradient-color-hsl), 0) 0%, var(--amplify-colors-brand-secondary-10) 54%);
}

.docs-burst-bg {
  position: relative;
  z-index: 1;
  
  &::before {
    content: '';
    z-index: -1;
    pointer-events: none;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-image: linear-gradient(0deg, hsla(var(--docs-gradient-color-hsl), 1) 0%, hsla(var(--docs-gradient-color-hsl), 0) 40%),
      linear-gradient(180deg, hsla(var(--docs-gradient-color-hsl), 1) 0%, hsla(var(--docs-gradient-color-hsl), 0) 40%),
      radial-gradient(circle at 0% 50%, var(--amplify-colors-pink-40), hsla(var(--docs-gradient-color-hsl), 0) 25%),
      radial-gradient(circle at 85% 30%, var(--amplify-colors-purple-40), hsla(var(--docs-gradient-color-hsl), 0) 50%),
      radial-gradient(circle at 35% 70%, var(--amplify-colors-teal-40), hsla(var(--docs-gradient-color-hsl), 0) 50%);
    opacity: 0.25;
  }
}


.with-lines {
  counter-reset: code-lines;
  margin: 0;
  padding: 0;
  
  & .token-line {
    counter-increment: code-lines;
    position: relative;
    padding-left: 3rem;
    
    &::before {
      position: absolute;
      left: 0;
      width: 2rem;
      text-align: right;
      color: var(--amplify-colors-font-tertiary);
      opacity: 0.75;
      content: counter(code-lines) " ";
    }
  }
}

.docs-home-code-card {
  position: relative;
  background-color: var(--amplify-colors-background-secondary);
  border-radius: var(--amplify-radii-large);
  border: var(--amplify-border-widths-small) solid var(--amplify-colors-border-secondary);
  box-shadow: var(--amplify-shadows-medium);
  width: 50%;
  font-size: var(--amplify-font-sizes-medium);
  
  &[data-editable]:hover {
    border-color: var(--amplify-colors-brand-primary-40);
  }
  
  &[data-editable]:focus,
  &[data-editable]:focus-within {
    border-color: var(--amplify-colors-brand-primary-60);
    box-shadow: 0 0 0.5rem var(--amplify-colors-brand-primary-60);
  }
  
  & pre.prism-code {
    margin: 0;
    padding: 0;
    font-size: var(--amplify-font-sizes-medium);
  }
  
  &::after,
  &::before {
    --degree: 0deg;
    content: '';
    position: absolute;
    z-index: 1;
    right: var(--amplify-space-xs);
    left: var(--amplify-space-xs);
    height: var(--amplify-space-medium);
    background-image: linear-gradient(var(--degree), var(--amplify-colors-background-secondary) 0%, hsla(var(--docs-gradient-color-hsl), 0) 100%);
  }
  
  &::after {
    bottom: var(--amplify-space-medium);
  }
  
  &::before {
    --degree: 180deg;
    top: var(--amplify-space-medium);
  }
}

.docs-home-code {
  .copy-button {
    position: absolute;
    top: var(--amplify-space-small);
    right: var(--amplify-space-small);
    z-index: 2;
    background: var(--amplify-colors-background-primary);
  }
}

.docs-home-code,
pre.docs-home-code,
code.docs-home-code {
  // don't make code samples taller than the screen
  max-height: 80vh;
  overflow: auto;
  margin: 0;
  padding: 0;
}

.docs-home-figma-graphic {
  position: relative;
}

.docs-home-figma-logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -5rem;
  height: 10rem;
  opacity: 0.75;
}

.docs-home-figma-code,
.docs-home-figma-studio {
  border-radius: var(--amplify-radii-large);
  background-color: var(--amplify-colors-background-secondary);
  padding: var(--amplify-space-large);
  font-size: var(--amplify-font-sizes-large);
  box-shadow: var(--amplify-shadows-medium);
  position: absolute;
  right: 0;
}

.docs-home-figma-graphic {
  .amplify-card {
    counter-reset: figma-data;
  }
}

.docs-home-figma-data {
  outline: 2px dashed #1ABCFE;
  position: relative;
  counter-increment: figma-data;
  &::before {
    content: counter(figma-data);
    position: absolute;
    top: 0;
    left: -2rem;
    width: 1.5rem;
    line-height: 1.5rem;
    border-radius: 1.5rem;
    font-size: var(--amplify-font-sizes-small);
    background-color: #1ABCFE;
    text-align: center;
    color: white;
    font-weight: var(--amplify-font-weights-bold);
    // opacity: 0.75;
  }
}

.docs-home-figma-code {
  bottom: -2rem;
}

.docs-home-figma-studio {
  top: -2rem;
}

.docs-home-figma-node {
  position: relative;
  margin-top: 2rem;
  border: 2px solid #1ABCFE;
  padding: var(--amplify-space-medium);
  min-width: 20rem;
  max-width: 30rem;
}

.docs-home-figma-node-label {
  position: absolute;
  top: -2rem;
  left: 0;
  line-height: 1;
  color: #1ABCFE;

  & > .amplify-icon {
    margin-inline-end: var(--amplify-space-xs);
  }
}

.docs-home-figma-node-handles {
  position: absolute;
  top: -.25rem;
  left: -.25rem;
  right: -.25rem;
  
  &::before {
    content: '';
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    outline: 2px solid #1ABCFE;
    background: var(--amplify-colors-background-primary);
  }
  &::after {
    content: '';
    position: absolute;
    right: 0;
    left: auto;
    width: 0.5rem;
    height: 0.5rem;
    outline: 2px solid #1ABCFE;
    background: var(--amplify-colors-background-primary);
  }
  
  &:nth-child(2) {
    top: auto;
    bottom: .25rem;
  }
}

.docs-home-editor-badge {
  position: absolute;
  z-index: 2;
  top: -2rem;
  left: 0;
}

.fade-in {
  
  @media (prefers-reduced-motion: no-preference) {
    opacity: 0;
    transition: all var(--amplify-time-long) ease var(--amplify-time-medium);
    transform: translateY(var(--amplify-space-medium));
    
    &.shown {
      opacity: 1;
      transform: translateX(0);
    }
  }
}


.docs-home-browser {
  border: var(--amplify-border-widths-small) solid var(--amplify-colors-border-primary);
  border-radius: var(--amplify-radii-small);
  background-color: var(--amplify-colors-background-primary);
  &__nav-bar {
    background-color: var(--amplify-colors-background-secondary);
    padding: var(--amplify-space-xxs);
    margin-block-end: var(--amplify-space-medium);
    border-start-start-radius: var(--amplify-radii-small);
    border-start-end-radius: var(--amplify-radii-small);
  }
  &__close-button,
  &__min-button,
  &__max-button {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.5rem;
    display: inline-block
  }
  &__close-button {
    background-color: var(--amplify-colors-red-60);
  }
  &__max-button {
    background-color: var(--amplify-colors-green-60);
  }
  &__min-button {
    background-color: var(--amplify-colors-yellow-60);
  }
}
