.docs-home-description {
  color: var(--amplify-colors-font-secondary);
  font-size: var(--amplify-font-sizes-xl);
}

.docs-home-feature-card {
  /* box-shadow: none; */
  border-width: 0;
}

.docs-home-flutter {
  position: absolute;
  right: 5rem;
  bottom: 8rem;
  height: 10rem;
}

.docs-home-vue {
  position: absolute;
  right: 15rem;
  bottom: 8rem;
  height: 10rem;
}

.docs-home-react {
  position: absolute;
  right: 25rem;
  bottom: 8rem;
  height: 10rem;
}

.docs-home-angular {
  position: absolute;
  right: 35rem;
  bottom: 8rem;
  height: 10rem;
}

.docs-home-section {
  position: relative;
  padding: var(--amplify-space-xxl);
}

.docs-home-section-bg {
  position: relative;
}

.docs-home-section-bg > .amplify-card {
  position: relative;
  max-width: 70ch;
  margin: calc(var(--amplify-space-xl) * -1) var(--amplify-space-xl)
    var(--amplify-space-xl) var(--amplify-space-xl);
}

.install-code {
  flex-grow: 1;
  margin: 0;
}

.docs-home-amp-product-card {
  transition: transform var(--amplify-time-medium) ease;
  display: block;

  &:hover {
    transform: scale(1.05);
  }

  & > .amplify-card {
    width: 100%;
  }
}
