@import './variables';

.docs-description {
  color: var(--amplify-colors-font-secondary);
  font-size: var(--amplify-font-sizes-large);
  padding-top: var(--amplify-space-medium);
  margin: 0;
}

.docs-meta {
  padding-bottom: var(--amplify-space-medium);
}

.docs-content {
  max-width: 80rem;
}

.docs-content-body {
  padding: var(--amplify-space-medium);
  
  @media (min-width: $breakpoint-medium) {
    padding: var(--amplify-space-xl);
  }
  
  @media (min-width: $breakpoint-large) {
    padding: var(--amplify-space-xxl);
  }
  
  
  & > * + * {
    margin-bottom: var(--amplify-space-medium);
  }
  
  & > table {
    border-collapse: collapse;
    width: 100%;
    
    & td,
    & th {
      padding:var(--amplify-space-small) var(--amplify-space-medium);
      border: var(--amplify-border-widths-small) solid var(--amplify-colors-border-tertiary);
    }
  }
}
