// These are overrides/fixes
// remove these when they are fixed in the ui/react packages
.amplify-card {
  border-width: var(--amplify-border-widths-small);
  border-style: solid;
  border-color: var(--amplify-colors-border-primary);
}


.amplify-button[data-variation='primary'] {
  border-color: var(--amplify-components-button-primary-border-color);
}

