@import './_variables.scss';

.props-table-expander {
  box-shadow: unset;
  margin-bottom: var(--amplify-space-medium);
  & .amplify-expander__trigger {
    cursor: pointer;
  }

  & .amplify-expander__item {
    box-shadow: unset;
    border-radius: unset;
    border-bottom-color: var(--amplify-components-table-data-border-color);
    border-bottom-style: var(--amplify-components-table-data-border-style);
    border-bottom-width: var(--amplify-components-table-data-border-color);
  }

  & .amplify-expander__content {
    padding-inline: unset;
  }

  & .amplify-expander__content__text {
    overflow-x: auto;
    padding-block: unset;
  }
}

.docs-prop-table {
  table-layout: fixed;
  & .amplify-table__th:nth-child(1) { width: 12rem; }
  & .amplify-table__th:nth-child(2) { width: 30%; }
  & .amplify-table__th:nth-child(3) { width: auto; }
}

@media (max-width: $breakpoint-medium) {
  .props-table-expander {
    & .amplify-expander__content {
      padding-inline-start: unset;
      padding-inline-end: unset;
    }

    & .amplify-expander__content__text {
      padding-block-start: unset;
      padding-block-end: unset;
    }
  }
}
