.props-table {
  & pre[class*='language-'] {
    max-width: 20rem;
  }

  & .amplify-expander__content__text {
    overflow-x: auto;
  }

  & .props-table__tr-description {
    line-break: anywhere;
  }
}
