.docs-theme-token {
  position: relative;
  padding: var(--amplify-space-medium);
  border-block-end-width: var(--amplify-border-widths-small);
  border-block-end-style: solid;
  border-block-end-color: var(--amplify-colors-border-tertiary);
  background-color: var(--amplify-colors-background-primary);
  
  &__preview {
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  &__info {
    flex: 1;
    gap: 0;
  }
}

.docs-theme-token-section {

  
  
  
  &__header {
    padding: var(--amplify-space-medium);
    background-color: var(--amplify-colors-background-primary);
    border-block-end-width: var(--amplify-border-widths-small);
    border-block-end-style: solid;
    border-block-end-color: var(--amplify-colors-border-tertiary);
  }
  
  &__body {
    padding-inline-start: var(--amplify-space-medium);
    // border-inline-start-width: var(--amplify-border-widths-small);
    // border-inline-start-style: solid;
    // border-inline-start-color: var(--amplify-colors-border-primary);
  }
  
}

.docs-theme-token-preview {
  &--color {
    box-shadow: var(--amplify-shadows-medium);
    width: var(--amplify-space-xl);
    height: var(--amplify-space-xl);
  }
}

.docs-theme-table {
  width: 100%;
  max-height: 30rem;
  overflow: auto;
  border-width: var(--amplify-border-widths-small);
  border-style: solid;
  border-color: var(--amplify-colors-border-primary);
  border-block-start-width: 0;
  background-color: var(--amplify-colors-background-secondary);
}

