EXAMPLE_APP_NAME='DemoExample|BasicExample|ComponentExample|ComponentSlotsExample|FieldsExample|LabelHiddenExample|SlotsExample|StylesExample|InAppMessaging|ThemingExample|DarkModeExample|EmailMfaExample'
