.custom-checkbox .amplify-checkbox {
  align-items: flex-start;
  flex-direction: column-reverse;
}

.custom-data-attribute .amplify-checkbox__icon[data-checked='true'] {
  background-color: var(--amplify-colors-purple-80);
}

.global-css-variable {
  --amplify-components-checkbox-icon-background-color: var(
    --amplify-colors-blue-80
  );
}

.amplify-checkboxfield.global-class .amplify-checkbox__icon {
  background-color: var(--amplify-colors-blue-80);
}
