.collection-styling-example {
  border: var(--amplify-border-widths-medium) solid var(--amplify-colors-red-60);
}

.collection-local-styling-example {
  border: var(--amplify-border-widths-medium) solid var(--amplify-colors-red-60);
  flex-wrap: wrap;
  gap: 20px;
  padding: 5px;
}

.collection-local-styling-example .amplify-collection-items {
  flex-wrap: wrap;
  gap: 20px;
}
