.link-global-styles {
  color: var(--amplify-colors-purple-80);
}

.link-global-styles:hover {
  color: var(--amplify-colors-purple-60);
}

.link-local-styles {
  color: var(--amplify-colors-blue-80);
  font-weight: var(--amplify-font-weights-bold);
}

.link-local-styles:hover {
  color: var(--amplify-colors-blue-60);
}

.link-local-styles:active {
  color: var(--amplify-colors-green-80);
}
