.link-global-styles {
  color: var(--amplify-colors-red-80);
}

.link-local-styles {
  color: var(--amplify-colors-red-80);
  font-weight: var(--amplify-font-weights-bold);
}

.link-local-styles:hover {
  color: var(--amplify-colors-blue-80);
  font-weight: var(--amplify-font-weights-bold);
}
