/**
 * Note: Global styling examples require a scoped classname (`global-styling-menu`) to prevent affecting other menu examples,
 * even though customer facing code doesn't show the scoped classname.
 */
.global-styling-menu.amplify-menu-content {
  --amplify-components-button-color: var(--amplify-colors-brand-secondary-90);
}
.global-styling-menu-trigger.amplify-menu-trigger {
  --amplify-components-button-border-color: var(
    --amplify-colors-brand-secondary-90
  );
  --amplify-components-button-color: var(--amplify-colors-brand-secondary-90);
}
.my-menu-trigger.amplify-menu-trigger {
  border-color: var(--amplify-colors-brand-secondary-90);
  color: var(--amplify-colors-brand-secondary-90);
}
.my-menu-content .amplify-menu-content__item {
  color: var(--amplify-colors-brand-secondary-90);
}
.my-menu-content .amplify-menu-content__item:hover {
  background-color: var(--amplify-colors-brand-secondary-90);
}
.custom-font-size .amplify-button[data-size='large'] {
  font-size: var(--amplify-font-sizes-xxl);
}
