.pagination-global-styling {
  --amplify-components-pagination-current-background-color: var(
    --amplify-colors-red-60
  );
}

.my-custom-pagination {
  --amplify-components-pagination-current-background-color: var(
    --amplify-colors-green-80
  );
  --amplify-components-pagination-button-hover-background-color: var(
    --amplify-colors-blue-20
  );
}
