.amplify-pagination-demo input {
  width: 150px;
  font-size: 0.875rem;
}

.pagination-global-styling {
  --amplify-components-pagination-current-background-color: red;
}

.my-custom-pagination {
  --amplify-components-pagination-current-background-color: blue;
  --amplify-components-pagination-button-hover-background-color: green;
}
