.globally-styled-textfield.amplify-passwordfield {
  --amplify-components-field-border-color: rebeccapurple;
}
.custom-passwordfield-class .amplify-input,
.custom-passwordfield-class .amplify-button {
  border-radius: 0;
}

.amplify-passwordfield .amplify-button:not(:focus) {
  border-left: none; /* Remove double-border between the password field & reveal button */
}
