.global-styling .amplify-radio__input {
  border-color: yellow;
  background-color: yellow;
}

.custom-radio .amplify-radio__input:checked + .amplify-radio__button {
  background-color: orange;
  border-color: red;
  color: yellow;
}
