<!-- Text with varient primary-->
<p
  amplify-text-poc
  variation="primary"
  color="blue"
  lineHeight="1.5em"
  fontWeight="400"
  fontSize="1em"
  fontStyle="normal"
  textDecoration="none"
  width="30vw"
>
  primary Hello World!
</p>
<br />
<!-- Text with varient secondary-->
<p
  amplify-text-poc
  variation="secondary"
  color="blue"
  lineHeight="1.5em"
  fontWeight="400"
  fontSize="1em"
  fontStyle="normal"
  textDecoration="none"
  width="30vw"
>
  secondary Hello World!
</p>
<br />
<!-- Text with varient tertiary-->
<p
  amplify-text-poc
  variation="tertiary"
  color="blue"
  lineHeight="1.5em"
  fontWeight="400"
  fontSize="1em"
  fontStyle="normal"
  textDecoration="none"
  width="30vw"
>
  tertiary Hello World!
</p>
<br />
<!-- Text with varient error-->
<p
  amplify-text-poc
  variation="error"
  color="blue"
  lineHeight="1.5em"
  fontWeight="400"
  fontSize="1em"
  fontStyle="normal"
  textDecoration="none"
  width="30vw"
>
  error Hello World!
</p>
<br />

<!-- Text with varient warning-->
<p
  amplify-text-poc
  variation="warning"
  color="blue"
  lineHeight="1.5em"
  fontWeight="400"
  fontSize="1em"
  fontStyle="normal"
  textDecoration="none"
  width="30vw"
>
  warning Hello World!
</p>
<br />
<!-- Text with varient info-->
<p
  amplify-text-poc
  variation="info"
  color="blue"
  lineHeight="1.5em"
  fontWeight="400"
  fontSize="1em"
  fontStyle="normal"
  textDecoration="none"
  width="30vw"
>
  info Hello World!
</p>
<br />
<!-- Text with varient success-->
<p
  amplify-text-poc
  variation="success"
  color="blue"
  lineHeight="1.5em"
  fontWeight="400"
  fontSize="1em"
  fontStyle="normal"
  textDecoration="none"
  width="30vw"
>
  success Hello World!
</p>
<br />
