@import '@aws-amplify/ui/styles.css';
@import './components/primitives/styles.css';

.amplify-authenticator__font {
  font-weight: normal;
}

.amplify-authenticator__icon-wrapper {
  align-items: center;
  justify-content: center;
}

.amplify-authenticator__sign-in-button-wrapper {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.amplify-authenticator__sign-in-base {
  padding: 0 0 1rem 0;
}

.amplify-authenticator__base {
  align-items: center;
  justify-content: space-between;
}

.amplify-authenticator__tabs {
  outline: none;
}

.amplify-authenticator__tabs-wrapper {
  gap: 0px;
  justify-content: center;
}
