[data-spark-theme] [data-spark-container] {
  width: 22rem;
  padding: 3rem;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.15);
}

[data-spark-theme] [data-spark-input] {
  display: block;
  padding: 0.875rem;
  width: 90%;
  margin-bottom: 1.25rem;
  border-color: rgb(196, 196, 196);
  border-width: 1px;
}

[data-spark-theme] [data-spark-label] {
  display: block;
  margin-bottom: 0.625rem;
}

[data-spark-theme] [data-spark-button] {
  background-color: rgb(255, 153, 0);
  padding: 0.75rem 1.25rem 0.75rem 1.25rem;
  border-style: none;
  color: white;
}
