.ai-header__container {
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  justify-content: space-between;
  border: 1px solid rgb(220, 222, 224);
  border-radius: 16px 16px 0px 0px;
  padding: 0px 16px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 12px 30px 0px;
  background-color: rgb(250, 250, 250);
  flex-grow: 1;
}

.ai-header__button {
  border: none;
  background: none;
}

.ai-prompts__prompt__buttongroup {
  display: flex;
  gap: 8px;
}

.ai-prompts__prompt__card {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 8px;
  border-width: 0px;
  text-align: left;
  white-space: nowrap;
  padding: 12px;
  cursor: pointer;
}

.ai-prompts__prompt__card__header {
  font-weight: bold;
}

.ai-prompts__prompt__card__text {
  margin: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ai-messages__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 16px;
}

.ai-message {
  display: flex;
  flex-direction: column;
  width: 480px;
  align-items: flex-start;
}

.ai-message__text {
  white-space: pre-wrap;
}

.ai-message--bubble-2.ai-message--user {
  justify-content: flex-end;
}

.ai-message__header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.ai-message__image {
  width: 100%;
}

.ai-avatar__container {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

.ai-avatar__icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.ai-actions-bar__container {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.ai-actions-bar__icon {
  width: 100%;
  height: 100%;
}

.ai-actions-bar__button {
  display: flex;
  width: 28px;
  height: 28px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  overflow: hidden;
}

.ai-field__form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
}

.ai-field__input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}

.ai-attachment-list__unordered-list {
  gap: 8px;
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 0px;
}

.ai-attachment__list-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.ai-attachment-text__container {
  display: flex;
  align-items: center;
  flex: 1;
  overflow: hidden;
}

.ai-attachment-text__separator {
  flex-shrink: 0;
}

.ai-attachment-text__file-name {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ai-attachment-text__file-size {
  flex-shrink: 0;
  margin-left: 8px;
}

.ai-field__input {
  align-self: stretch;
  overflow: hidden;
  resize: none;
}

.ai-field__button {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.ai-field__visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  fill: transparent;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
