:root {
  --amplify-components-rating-filled-color: var(
    --amplify-colors-secondary-60
  );
  --amplify-components-rating-empty-color: var(
    --amplify-colors-border-tertiary
  );

  --amplify-components-icon-large-height: var(--amplify-font-sizes-xxl);
}

body {
  font-family: 'Inter var';
  background-color: var(--amplify-colors-background-secondary);
  padding: 0;
  margin: 0;
}

.amplify-rating {
  gap: var(--amplify-space-xxs);
  align-items: center;
}

.amplify-divider {
  display: block; /* because of all: unset */
  margin: 1rem 0; /* margin doesn't work in React for divider */
}

.amplify-placeholder {
  display: block;
}

.amplify-heading {
  display: block;
}

h1.amplify-heading {
  font-weight: 200;
}

h3.amplify-heading {
  font-weight: 600;
}

h6.amplify-heading {
  font-weight: 900;
}

.listing-app-header {
  background-color: var(--amplify-colors-background-primary);
  padding: var(--amplify-space-medium);
  box-shadow: var(--amplify-components-card-box-shadow);
  position: sticky;
  top: 0;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.listing-app-footer {
  background-color: var(--amplify-colors-background-tertiary);
  padding: var(--amplify-space-xxl);
  color: var(--amplify-colors-font-inverse);
  border-top: var(--amplify-border-widths-small) solid var(--amplify-colors-border-primary);
  text-align: center;
}

.experience-card {
  position: relative;
  transition: all var(--amplify-time-medium);

  & img {
    display: block;
  }

  &:hover {
    transform: scale(1.05);

    & > .experience-card-text {
      transform: scale(1.1);
    }
  }
}

.experience-card-text {
  transition: all var(--amplify-time-medium);
  position: absolute;
  bottom: var(--amplify-space-medium);
  padding: 0 var(--amplify-space-medium);
  color: white;
  font-size: var(--amplify-font-sizes-xxl);
  font-weight: 200;
  text-shadow: 0 0 1rem var(--amplify-colors-secondary-60);
}

.flex-grow {
  flex-grow: 1;
}

.scrollable {
  width: 100%;
  overflow-x: auto;
}

.amplify-badge > svg {
  padding-right: var(--amplify-space-xxs);
}

.search-input {
  border-radius: 5rem;
  border-color: var(--amplify-colors-border-tertiary);
  border-width: 1px;
  border-style: solid;
  padding: var(--amplify-space-small) var(--amplify-space-large);
  width: 30rem;
  background-color: var(--amplify-colors-background-primary);

  &:focus {
    outline: none;
    border-color: var(--amplify-colors-primary-60);
  }
}
