<amplify-password-field
  labelHidden="true"
  describedBy="custom-aria-describedBy"
>
  <p amplify-label>Last name</p>
  <p amplify-description-text>Enter Description</p>
  <input amplify-phone-number placeholder="Baggins" />
  <p amplify-error>There is an error</p>
</amplify-password-field>
<div style="margin-top: 100px"></div>

<amplify-password-field [hasError]="true" describedBy="custom-aria-describedBy">
  <p amplify-label>Enter Label</p>
  <p amplify-description-text>Enter Description</p>
  <input amplify-phone-number placeholder="Baggins" />
  <p amplify-error>There is an error</p>
</amplify-password-field>
