.amplify-card {
  background-color: var(--amplify-colors-background-secondary);
}
.amplify-card--outlined {
  border-color: var(--amplify-colors-black);
}
.amplify-heading--6 {
  color: var(--amplify-colors-brand-secondary-80);
}
.amplify-text {
  color: var(--amplify-colors-neutral-80);
}
