html {
  font-family: var(--amplify-fonts-default-static);
}
@supports (font-variation-settings: normal) {
  html {
    font-family: var(--amplify-fonts-default-variable);
  }
}

[data-amplify-spacer] {
  @apply flex-1;
}

[data-amplify-lostcode] {
  @apply flex flex-col items-start;
}

[data-amplify-select] {
  @apply block w-full  rounded shadow-sm;
  border-width: 1px;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  width: 97%;
}

[data-amplify-alias-label] {
  @apply flex flex-col;
}
