[data-amplify-input] {
  @apply block w-full mt-1 border-gray-300 rounded shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50;
  width: 90%;
}

[data-amplify-spacer] {
  @apply flex-1;
}

[data-amplify-lostcode] {
  @apply flex flex-col items-start;
}

[data-amplify-select] {
  @apply block w-full  rounded shadow-sm;
  border-width: 1px;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  width: 97%;
}

[data-amplify-alias-label] {
  @apply flex flex-col;
}
