[data-amplify-input] {
  @apply block w-full mt-1 border-gray-300 rounded shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50;
  width: 90%;
}

[data-amplify-spacer] {
  @apply flex-1;
}
