[data-amplify-wrapper] {
  @apply max-w-md mx-auto overflow-hidden text-base text-gray-700 rounded-md shadow;
}

[data-amplify-wrapper] [data-amplify-heading] {
  @apply mb-0 text-xl;
}

[data-amplify-wrapper] [data-amplify-form] {
  @apply grid gap-6 p-8 bg-white;
}

[data-amplify-wrapper] [data-amplify-footer] {
  @apply flex flex-row items-center space-x-1;
}

[data-amplify-wrapper] [data-amplify-fieldset] {
  @apply grid gap-6;
}

[data-amplify-wrapper] [data-amplify-label] {
  @apply space-y-2;
}

[data-amplify-wrapper] [data-amplify-password] [data-amplify-box] {
  @apply flex flex-row space-x-1;
}

[data-amplify-wrapper]
  [data-amplify-password]
  [data-amplify-box]
  [data-amplify-text] {
  @apply text-sm text-gray-500;
}

[data-amplify-wrapper]
  [data-amplify-password]
  [data-amplify-box]
  [data-amplify-button] {
  @apply text-sm text-blue-500;
}

[data-amplify-wrapper] [data-amplify-footer] [data-amplify-text] {
  @apply text-sm text-gray-500;
}

[data-amplify-wrapper]
  [data-amplify-footer]
  [data-amplify-button]:first-of-type {
  @apply text-sm text-blue-500;
}

[data-amplify-wrapper]
  [data-amplify-footer]
  [data-amplify-button]:last-of-type {
  @apply px-8 py-2 text-base text-white bg-gray-700 rounded;
}

[data-amplify-wrapper] :disabled {
  @apply opacity-50;
  cursor: initial;
}

[data-amplify-input] {
  @apply block w-full mt-1 border-gray-300 rounded shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50;
  border-width: 1px;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
