.my-custom-badge {
  --badge-colors-bg-default: yellow;
}

.flagged {
	color: white;
	background-color: crimson;
	border-radius: 3px;
}

#subscribers {
	color: blue;
	background-color: white;
	font-weight: 900;
	border: 1px solid blue;
}
