@font-face {
  font-family: 'Amazon Ember';
  src: url('/fonts/AmazonEmber_W_Rg.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Amazon Ember;
  src: url('/fonts/AmazonEmber_Bd.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
