.blue {
  --amplify-ui-components-text-color: blue;
	--amplify-ui-components-text-font-weight: bold;
}

.custom-heading {
  color: red;
  font-weight: bold;
  font-size: 2rem;
}

#subscribe {
  color: darkblue;
  font-style: italic;
}
