/* Amplify UI styles */
@import '@aws-amplify/ui-react/styles.css';

/* Docs styles */
@import './docs/algolia.scss';
@import './docs/base.scss';
@import './docs/code.scss';
@import './docs/layout.scss';
@import './docs/header.scss';
@import './docs/sidebar.scss';
@import './docs/main.scss';
@import './docs/home.scss';
@import './docs/toc.scss';
@import './docs/example.scss';
@import './docs/component.scss';
@import './docs/styleTable.scss';
@import './docs/tokenList.scss';
@import './docs/cardLink.scss';

/* Primitive override styles for docs examples */
@import './primitives/alertStyles.css';
@import './primitives/badgeStyles.css';
@import './primitives/buttonStyles.css';
@import './primitives/cardStyles.css';
@import './primitives/checkboxFieldStyles.css';
@import './primitives/collectionStyles.css';
@import './primitives/dividerStyles.css';
@import './primitives/expanderStyles.css';
@import './primitives/flexStyles.css';
@import './primitives/headingStyles.css';
@import './primitives/iconStyles.css';
@import './primitives/linkStyles.css';
@import './primitives/loaderStyles.css';
@import './primitives/menuStyles.css';
@import './primitives/paginationStyles.css';
@import './primitives/passwordFieldStyles.css';
@import './primitives/phoneNumberFieldStyles.css';
@import './primitives/placeholderStyles.css';
@import './primitives/radioStyles.css';
@import './primitives/ratingStyles.css';
@import './primitives/scrollView.css';
@import './primitives/selectFieldStyles.css';
@import './primitives/sliderFieldStyles.css';
@import './primitives/stepperFieldStyles.css';
@import './primitives/switchFieldStyles.css';
@import './primitives/searchFieldStyles.css';
@import './primitives/tableStyles.css';
@import './primitives/tabsStyles.css';
@import './primitives/textFieldStyles.css';
@import './primitives/textAreaFieldStyles.css';
@import './primitives/textStyles.css';
@import './primitives/toggleButtonStyles.css';
@import './primitives/viewStyles.css';

/* Connected Component override styles for docs examples */
@import './components/authenticatorStyles.scss';
