/* Docs styles */
@import 'prism-theme-night-owl';
@import 'tailwindcss/tailwind.css';
@import './styles.css';

/* Amplify UI styles */
@import '@aws-amplify/ui-react/styles.css';

/* Primitive override styles for docs examples */
@import './alertStyles.css';
@import './badgeStyles.css';
@import './buttonStyles.css';
@import './cardStyles.css';
@import './checkboxFieldStyles.css';
@import './dividerStyles.css';
@import './expanderStyles.css';
@import './flexStyles.css';
@import './headingStyles.css';
@import './iconStyles.css';
@import './linkStyles.css';
@import './loaderStyles.css';
@import './paginationStyles.css';
@import './passwordFieldStyles.css';
@import './phoneNumberFieldStyles.css';
@import './placeholderStyles.css';
@import './radioStyles.css';
@import './ratingStyles.css';
@import './scrollView.css';
@import './selectFieldStyles.css';
@import './stepperFieldStyles.css';
@import './switchFieldStyles.css';
@import './searchFieldStyles.css';
@import './tabsStyles.css';
@import './textFieldStyles.css';
@import './textStyles.css';
@import './toggleButtonStyles.css';
@import './viewStyles.css';
