@import 'prism-theme-night-owl';
@import 'tailwindcss/tailwind.css';

.mdx-marker {
  @apply pl-3 -ml-4 -mr-4 bg-gray-700 border-l-4 border-amazon;
}

pre {
  @apply rounded;
}

pre.language-shell code.language-shell::before {
  content: '$';
  @apply mr-2 -ml-2 text-gray-500;
}

code.language-shell,
.mdx-marker {
  @apply select-all;
}

a > h2::before {
  content: '#';
  @apply absolute -ml-6 text-amazon;
}

a > h3::before {
  content: '#';
  @apply absolute -ml-5 text-amazon;
}

.developer-preview-banner {
  padding: 2rem;
  background-color: var(--color-ink-hv);
  color: white;
  font-size: 1.5rem;
  line-height: 1.5;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}
