.custom-tabs {
  background-color: lightblue;
  justify-content: center;
}

.custom-tab-item {
  background-color: white;
}

.custom-tab-item[data-state='active'] {
  color: crimson;
  border-bottom: 2px solid crimson;
}

.pseudo-demo:hover {
  background-color: red;
}

.pseudo-demo:active {
  background-color: orange;
}

.pseudo-demo:focus {
  background-color: blue;
}

.pseudo-demo:focus-visible {
  background-color: green;
}
