.styled-text.amplify-ui-text {
  font-weight: bold;
  color: red;
  text-decoration: underline;
}

.styled-variable-text.amplify-ui-text {
  --font-weight: bold;
  --color: red;
  --text-decoration: underline;
}

.primary-styled-variable-text.amplify-ui-text {
  --color-primary: red;
}
