.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  /* Override dark theme font color */
  color: #16191f;
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* Override dark theme font color */
  color: #232f3e;
}
