<amplify-flex
  direction="row"
  justifyContent="flex-start"
  alignItems="stretch"
  alignContent="flex-start"
  wrap="nowrap"
  gap="3rem"
>
  <div amplify-view height="2rem" width="5rem" backgroundColor="#d0efff"></div>
  <div
    amplify-view
    height="2.5rem"
    width="6.25rem"
    backgroundColor="#2a9df4"
  ></div>
  <div
    amplify-view
    height="3rem"
    width="7.5rem"
    backgroundColor="#187bcd"
  ></div>
  <div
    amplify-view
    height="3.5rem"
    width="8.75rem"
    backgroundColor="#1167b1"
  ></div>
</amplify-flex>

<amplify-flex
  direction="column"
  justifyContent="flex-start"
  alignItems="stretch"
  alignContent="flex-start"
  wrap="nowrap"
  gap="1rem"
>
  <div amplify-view height="2rem" width="5rem" backgroundColor="#d0efff"></div>
  <div
    amplify-view
    height="2.5rem"
    width="6.25rem"
    backgroundColor="#2a9df4"
  ></div>
  <div
    amplify-view
    height="3rem"
    width="7.5rem"
    backgroundColor="#187bcd"
  ></div>
  <div
    amplify-view
    height="3.5rem"
    width="8.75rem"
    backgroundColor="#1167b1"
  ></div>
</amplify-flex>
