@import '~@aws-amplify/spark-angular/theme.css';

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 16px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}

amplify-authenticator {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

code {
  background-color: #f1f1eb;
  padding: 0 0.5rem;
  color: black;
  border-radius: 0.25rem;
  font-family: Consolas, monospace;
}

/* Do not pad multiline code blocks */
pre code {
  padding: initial;
}

li {
  margin-bottom: 0.5rem;
}
