name: POC / Split Environments / guides

on:
  pull_request:
    branches:
      [
        split-environments/main,
        split-environments/update-workflows,
        split-environments/e2e-fix,
      ]

concurrency:
  group: poc-guide-${{ github.event.pull_request.id }}
  cancel-in-progress: true

jobs:
  guides:
    runs-on: ubuntu-latest
    environment: ci
    env:
      NODE_ENV: test
    strategy:
      fail-fast: false
      matrix:
        include:
          - path: ./guides/react/protected-routes
            tags: '@guides and not @todo-guides'

    steps:
      - name: Checkout Amplify UI
        uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: Setup Node.js LTS
        uses: actions/setup-node@v2
        with:
          node-version: lts/*
          cache: 'yarn'

      - name: Restore cypress runner Cache
        uses: actions/cache@v2
        id: restore-cypress-cache
        with:
          path: ~/.cache/Cypress
          key: ${{ runner.os }}-cypress-${{ hashFiles('yarn.lock') }}

      - name: Install packages
        run: yarn install
      - name: Add Amplify CLI
        run: yarn global add @aws-amplify/cli
      - name: Get CLI versions
        id: cli-version
        run: echo "::set-output name=version::$(amplify --version)"
      - name: Pull down AWS environments
        if: steps.environments-cache.outputs.cache-hit != 'true'
        run: yarn environments auth pull:email
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID_AUTH }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY_AUTH }}

      - name: Install guides
        run: yarn install
        working-directory: ${{ matrix.path }}

      - name: Build guides
        run: yarn build
        working-directory: ${{ matrix.path }}

      - name: Start guides site
        run: yarn start & npx wait-on -c waitOnConfig.json -t 20000 http-get://localhost:3000
        working-directory: ${{ matrix.path }}

      - name: Run E2E tests against guides
        run: yarn workspace e2e test:guides
        env:
          # Override on the default value in `cypress.json` with framework-specific tag
          TAGS: '${{ matrix.tags }}'

          # Env values for testing flows
          DOMAIN: ${{ secrets.DOMAIN }}
          PHONE_NUMBER: ${{ secrets.PHONE_NUMBER }}
          USERNAME: ${{ secrets.USERNAME }}
          NEW_PASSWORD: ${{ secrets.NEW_PASSWORD }}
          VALID_PASSWORD: ${{ secrets.VALID_PASSWORD }}
