# Description: this is a reusable workflow that runs unit and e2e tests.
#
# See `./test-prs.yml` to see an example usage.

on:
  workflow_call:
    inputs:
      commit:
        # commit to run tests against
        required: true
        type: string
      repository:
        # repository to run tests against (possibly a fork of amplify-ui)
        required: true
        type: string
    secrets:
      AUTH_E2E_ROLE_ARN:
        required: true
      GEO_E2E_ROLE_ARN:
        required: true
      STORAGE_E2E_ROLE_ARN:
        required: true
      DATASTORE_E2E_ROLE_ARN:
        required: true
      IN_APP_MESSAGING_E2E_ROLE_ARN:
        required: true
      DOMAIN:
        required: true
      PHONE_NUMBER:
        required: true
      USERNAME:
        required: true
      NEW_PASSWORD:
        required: true
      VALID_PASSWORD:
        required: true
      SITE_URL:
        required: true
      DOCSEARCH_DOCS_APP_ID:
        required: true
      DOCSEARCH_DOCS_API_KEY:
        required: true
      DOCSEARCH_DOCS_INDEX_NAME:
        required: true

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Amplify UI
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.commit }}
          repository: ${{ inputs.repository }}
          persist-credentials: false
      - name: Setup Node.js 16
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'yarn'
        env:
          SEGMENT_DOWNLOAD_TIMEOUT_MINS: 2
      - name: Restore cypress runner from Cache
        uses: actions/cache@v3
        id: restore-cypress-cache
        with:
          path: ~/.cache/Cypress
          key: ${{ runner.os }}-cypress-${{ hashFiles('yarn.lock') }}
        env:
          SEGMENT_DOWNLOAD_TIMEOUT_MINS: 1
      - name: Restore Puppeteer runner from Cache
        uses: actions/cache@v3
        id: restore-puppeteer-cache
        with:
          path: ~/.cache/puppeteer
          key: ${{ runner.os }}-puppeteer-${{ hashFiles('yarn.lock') }}
        env:
          SEGMENT_DOWNLOAD_TIMEOUT_MINS: 1
      - name: Install packages
        uses: ./.github/actions/install-with-retries
        with:
          # only install binary if cypress cache missed
          skip-cypress-binary: ${{ steps.restore-cypress-cache.outputs.cache-hit }}
      - name: Build ui package
        run: yarn ui build
      - name: Cache cypress runner
        # create new cypress cache entry only if cypress cache missed and we installed a new one.
        if: steps.restore-cypress-cache.outputs.cache-hit != 'true'
        uses: actions/cache@v3
        with:
          path: ~/.cache/Cypress
          key: ${{ runner.os }}-cypress-${{ hashFiles('yarn.lock') }}
      - name: Cache packages/ui/dist
        uses: actions/cache@v3
        with:
          path: ./packages/ui/dist
          key: ${{ runner.os }}-ui-${{ inputs.commit }}
      - name: Cache node_modules
        uses: actions/cache@v3
        with:
          path: |
            ./node_modules
            **/node_modules
          key: ${{ runner.os }}-nodemodules-${{ inputs.commit }}
  unit:
    needs: setup
    runs-on: ubuntu-latest
    env:
      NODE_ENV: test

    strategy:
      matrix:
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
        package:
          - ui
          - angular
          - vue
          - react
          - react-native
          - react-core

    steps:
      - name: Checkout Amplify UI
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.commit }}
          repository: ${{ inputs.repository }}
          persist-credentials: false

      - name: Setup Node.js 16
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'yarn'
        env:
          SEGMENT_DOWNLOAD_TIMEOUT_MINS: 2
      - name: Restore node_modules cache
        uses: actions/cache@v3
        id: restore-cache
        with:
          path: |
            ./node_modules
            **/node_modules
          key: ${{ runner.os }}-nodemodules-${{ inputs.commit }}
        env:
          SEGMENT_DOWNLOAD_TIMEOUT_MINS: 3

      - name: Restore ui/dist cache
        uses: actions/cache@v3
        id: restore-ui-cache
        with:
          path: ./packages/ui/dist
          key: ${{ runner.os }}-ui-${{ inputs.commit }}
        env:
          SEGMENT_DOWNLOAD_TIMEOUT_MINS: 1

      - name: Install packages
        if: steps.restore-cache.outputs.cache-hit != 'true'
        uses: ./.github/actions/install-with-retries
        with:
          skip-cypress-binary: true # unit test doesn't need cypress

      - name: Build ui package
        if: ${{ steps.restore-ui-cache.outputs.cache-hit != 'true' && matrix.package != 'ui' }}
        run: yarn ui build

      - name: Build react-core package
        if: ${{ matrix.package == 'react' || matrix.package == 'react-native' }}
        run: yarn react-core build

      - name: Build ${{ matrix.package }} package
        if: ${{ matrix.package != 'ui' }}
        run: yarn ${{ matrix.package }} build

      - name: Check ${{ matrix.package }} bundle size
        if: ${{ matrix.package == 'react' }}
        run: yarn react size

      - name: Cache ${{ matrix.package }}/dist
        uses: actions/cache@v3
        with:
          path: ./packages/${{ matrix.package }}/dist
          key: ${{ runner.os }}-${{ matrix.package }}-${{ inputs.commit }}

      - name: Lint packages
        run: yarn ${{ matrix.package }} lint

      - name: Run ${{ matrix.package }} CI tests
        run: yarn ${{ matrix.package }} test:ci

  e2e:
    # Only run e2e tests if unit tests pass
    needs: [setup, unit]
    runs-on: ubuntu-latest
    environment: ci
    env:
      NODE_ENV: test

    strategy:
      # Run each examples (e.g. `next-example`) which uses a library (e.g. `@aws-amplify/ui-react`)
      # BUT, Exclude `@todo-${{ package }}` tests in PRs
      # See: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#using-environment-variables-in-a-matrix
      matrix:
        include:
          - example: angular
            package: angular
            tags: '@angular and not @todo-angular'

          - example: next
            package: react
            tags: '@react and not @todo-react'

          - example: vue
            package: vue
            tags: '@vue and not @todo-vue'

    steps:
      - name: Checkout Amplify UI
        uses: actions/checkout@v3
        with:
          # For `pull_request_target`, we want ref to point to `pull_request.head.ref` because `github.ref`
          # always points to the target branch.
          # See: https://docs.github.com/en/actions/learn-github-actions/events-that-trigger-workflows
          ref: ${{ inputs.commit }}
          repository: ${{ inputs.repository }}
          persist-credentials: false

      - name: Next.js Cache
        uses: actions/cache@v3
        with:
          path: ${{ github.workspace }}/.next/cache
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/yarn.lock') }}
        env:
          SEGMENT_DOWNLOAD_TIMEOUT_MINS: 1

      - name: Setup Node.js 16
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'yarn'
        env:
          SEGMENT_DOWNLOAD_TIMEOUT_MINS: 2
      - name: Restore cypress runner Cache
        uses: actions/cache@v3
        id: restore-cypress-cache
        with:
          path: ~/.cache/Cypress
          key: ${{ runner.os }}-cypress-${{ hashFiles('yarn.lock') }}
        env:
          SEGMENT_DOWNLOAD_TIMEOUT_MINS: 1

      - name: Restore node_modules cache
        uses: actions/cache@v3
        id: restore-cache
        with:
          path: |
            ./node_modules
            **/node_modules
          key: ${{ runner.os }}-nodemodules-${{ inputs.commit }}
        env:
          SEGMENT_DOWNLOAD_TIMEOUT_MINS: 3

      - name: Restore ui/dist cache
        uses: actions/cache@v3
        id: restore-ui-cache
        with:
          path: ./packages/ui/dist
          key: ${{ runner.os }}-ui-${{ inputs.commit }}

      - name: Restore ${{ matrix.package }}/dist cache
        id: restore-package-cache
        uses: actions/cache@v3
        with:
          path: ./packages/${{ matrix.package }}/dist
          key: ${{ runner.os }}-${{ matrix.package }}-${{ inputs.commit }}
        env:
          SEGMENT_DOWNLOAD_TIMEOUT_MINS: 1

      - name: Install packages
        if: steps.restore-cache.outputs.cache-hit != 'true' || steps.restore-cypress-cache.outputs.cache-hit != 'true'
        uses: ./.github/actions/install-with-retries
        with:
          skip-cypress-binary: false

      - name: Build @aws-amplify/ui package
        if: steps.restore-ui-cache.outputs.cache-hit != 'true'
        run: yarn ui build

      - name: Build react-core package
        if: ${{ matrix.package == 'react' }}
        run: yarn react-core build

      - name: Build ${{ matrix.package }} package
        if: steps.restore-package-cache.outputs.cache-hit != 'true'
        run: yarn ${{ matrix.package }} build

      - name: Add Amplify CLI
        run: yarn global add @aws-amplify/cli

      - name: Get CLI versions
        id: cli-version
        run: echo "version=$(amplify --version)" >> $GITHUB_OUTPUT

      - name: Configure auth credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: us-east-2
          role-to-assume: ${{ secrets.AUTH_E2E_ROLE_ARN }}

      # Amplify CLI does not support headless pull with temporary credentials
      # when useProfile is false.
      # See: https://github.com/aws-amplify/amplify-cli/issues/11009.
      - name: Create temp AWS Profile
        run: |
          aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID && \
          aws configure set aws_secret_access_key $AWS_SECRET_ACCESS_KEY && \
          aws configure set aws_session_token $AWS_SESSION_TOKEN && \
          aws configure set default.region $AWS_REGION

      - name: Pull down Auth AWS environments
        run: yarn environments auth pull

      - name: Configure geo credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: us-east-2
          role-to-assume: ${{ secrets.GEO_E2E_ROLE_ARN }}

      - name: Create temp AWS profile
        run: |
          aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID && \
          aws configure set aws_secret_access_key $AWS_SECRET_ACCESS_KEY && \
          aws configure set aws_session_token $AWS_SESSION_TOKEN && \
          aws configure set default.region $AWS_REGION

      - name: Pull down Geo AWS environments
        run: yarn environments geo pull

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: us-east-2
          role-to-assume: ${{ secrets.STORAGE_E2E_ROLE_ARN }}

      - name: Create temp AWS profile
        run: |
          aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID && \
          aws configure set aws_secret_access_key $AWS_SECRET_ACCESS_KEY && \
          aws configure set aws_session_token $AWS_SESSION_TOKEN && \
          aws configure set default.region $AWS_REGION

      - name: Pull down Storage AWS environments
        run: yarn environments storage pull

      - name: Configure datastore credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: us-east-2
          role-to-assume: ${{ secrets.DATASTORE_E2E_ROLE_ARN }}

      - name: Create temp AWS profile
        run: |
          aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID && \
          aws configure set aws_secret_access_key $AWS_SECRET_ACCESS_KEY && \
          aws configure set aws_session_token $AWS_SESSION_TOKEN && \
          aws configure set default.region $AWS_REGION

      - name: Pull down Datastore AWS environments
        run: yarn environments datastore pull

      - name: Configure in-app-messaging credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: us-east-2
          role-to-assume: ${{ secrets.IN_APP_MESSAGING_E2E_ROLE_ARN }}

      # Amplify CLI does not support headless pull with temporary credentials
      # when useProfile is false.
      # See: https://github.com/aws-amplify/amplify-cli/issues/11009.
      - name: Create temp AWS Profile
        run: |
          aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID && \
          aws configure set aws_secret_access_key $AWS_SECRET_ACCESS_KEY && \
          aws configure set aws_session_token $AWS_SESSION_TOKEN && \
          aws configure set default.region $AWS_REGION

      - name: Pull down In-app-messaging AWS environments
        run: yarn environments in-app-messaging pull

      - name: Delete AWS profile
        run: rm -rf ~/.aws

      - name: Build ${{ matrix.example }} example
        run: yarn workspace ${{ matrix.example }}-example build

      - name: Start ${{ matrix.example }} example
        run: yarn workspace ${{ matrix.example }}-example start & npx wait-on -c waitOnConfig.json -t 20000 http-get://localhost:3000/ui/components/authenticator/sign-in-with-username

      - name: Run E2E tests against ${{ matrix.example }} example
        id: e2e
        run: yarn workspace e2e test:examples
        env:
          # Override on the default value in `cypress.json` with framework-specific tag
          TAGS: '${{ matrix.tags }}'

          # Env values for testing flows
          DOMAIN: ${{ secrets.DOMAIN }}
          PHONE_NUMBER: ${{ secrets.PHONE_NUMBER }}
          USERNAME: ${{ secrets.USERNAME }}
          NEW_PASSWORD: ${{ secrets.NEW_PASSWORD }}
          VALID_PASSWORD: ${{ secrets.VALID_PASSWORD }}

      - name: Upload failure screenshots and errors
        uses: actions/upload-artifact@v3
        if: ${{ failure() && steps.e2e.outcome != 'success' }}
        with:
          name: e2e-cypress-error-${{ matrix.package }}
          path: |
            packages/e2e/cypress/videos/**
            packages/e2e/cypress/screenshots/**
          retention-days: 5

  docs:
    needs: [setup, unit]
    runs-on: ubuntu-latest
    environment: ci
    env:
      NODE_ENV: test
    steps:
      - name: Checkout Amplify UI
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.commit }}
          repository: ${{ inputs.repository }}
          persist-credentials: false

      - name: Setup Node.js 16
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'yarn'
        env:
          SEGMENT_DOWNLOAD_TIMEOUT_MINS: 2

      - name: Restore cypress runner Cache
        uses: actions/cache@v3
        id: restore-cypress-cache
        with:
          path: ~/.cache/Cypress
          key: ${{ runner.os }}-cypress-${{ hashFiles('yarn.lock') }}
        env:
          SEGMENT_DOWNLOAD_TIMEOUT_MINS: 1

      - name: Restore Puppeteer runner cache
        uses: actions/cache@v3
        id: restore-puppeteer-cache
        with:
          path: ~/.cache/puppeteer
          key: ${{ runner.os }}-puppeteer-${{ hashFiles('yarn.lock') }}
        env:
          SEGMENT_DOWNLOAD_TIMEOUT_MINS: 1

      - name: Restore node_modules cache
        uses: actions/cache@v3
        id: restore-cache
        with:
          path: |
            ./node_modules
            **/node_modules
          key: ${{ runner.os }}-nodemodules-${{ inputs.commit }}
        env:
          SEGMENT_DOWNLOAD_TIMEOUT_MINS: 3

      - name: Install packages
        if: steps.restore-cache.outputs.cache-hit != 'true' || steps.restore-puppeteer-cache.outputs.cache-hit != 'true' || steps.restore-cypress-cache.outputs.cache-hit != 'true'
        uses: ./.github/actions/install-with-retries
        with:
          skip-cypress-binary: false

      - name: Build ui package
        run: yarn ui build

      - name: Build react-core package
        run: yarn react-core build

      - name: Build react package
        run: yarn react build

      - name: Build docs package
        run: yarn docs build
        env:
          SITE_URL: ${{ secrets.SITE_URL }}
          DOCSEARCH_DOCS_APP_ID: ${{ secrets.DOCSEARCH_DOCS_APP_ID }}
          DOCSEARCH_DOCS_API_KEY: ${{ secrets.DOCSEARCH_DOCS_API_KEY }}
          DOCSEARCH_DOCS_INDEX_NAME: ${{ secrets.DOCSEARCH_DOCS_INDEX_NAME }}

      - name: Start docs site
        run: yarn docs start & npx wait-on -c waitOnConfig.json -t 20000 http-get://localhost:3000

      - name: Run Docs link checker
        run: yarn docs test:links

      - name: Run E2E tests against docs
        run: yarn workspace e2e test:theme
        id: e2e
        env:
          # Env values for testing flows
          DOMAIN: ${{ secrets.DOMAIN }}
          PHONE_NUMBER: ${{ secrets.PHONE_NUMBER }}
          USERNAME: ${{ secrets.USERNAME }}
          NEW_PASSWORD: ${{ secrets.NEW_PASSWORD }}
          VALID_PASSWORD: ${{ secrets.VALID_PASSWORD }}

      - name: Upload failure screenshots and errors
        uses: actions/upload-artifact@v3
        if: ${{ failure() && steps.e2e.outcome != 'success' }}
        with:
          name: docs-e2e-cypress-error
          path: |
            packages/e2e/cypress/videos/**
            packages/e2e/cypress/screenshots/**
          retention-days: 5
