# Description: this is a reusable workflow that runs unit and e2e tests.
#
# See `./test-prs.yml` to see an example usage.

on:
  workflow_call:
    inputs:
      commit:
        # commit to run tests against
        required: true
        type: string
      repository:
        # repository to run tests against (possibly a fork of amplify-ui)
        required: true
        type: string
    secrets:
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true
      AWS_ACCESS_KEY_ID_AUTH:
        required: true
      AWS_SECRET_ACCESS_KEY_AUTH:
        required: true
      AWS_ACCESS_KEY_ID_DATASTORE:
        required: true
      AWS_SECRET_ACCESS_KEY_DATASTORE:
        required: true
      AWS_ACCESS_KEY_ID_STORAGE:
        required: true
      AWS_SECRET_ACCESS_KEY_STORAGE:
        required: true
      AWS_ACCESS_KEY_ID_GEO:
        required: true
      AWS_SECRET_ACCESS_KEY_GEO:
        required: true
      DOMAIN:
        required: true
      PHONE_NUMBER:
        required: true
      USERNAME:
        required: true
      NEW_PASSWORD:
        required: true
      VALID_PASSWORD:
        required: true
      SITE_URL:
        required: true
      DOCSEARCH_DOCS_APP_ID:
        required: true
      DOCSEARCH_DOCS_API_KEY:
        required: true
      DOCSEARCH_DOCS_INDEX_NAME:
        required: true

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Amplify UI
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.commit }}
          repository: ${{ inputs.repository }}
          persist-credentials: false
      - name: Setup Node.js 16
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'yarn'
        env:
          SEGMENT_DOWNLOAD_TIMEOUT_MINS: 2
      - name: Restore cypress runner from Cache
        uses: actions/cache@v3
        id: restore-cypress-cache
        with:
          path: ~/.cache/Cypress
          key: ${{ runner.os }}-cypress-${{ hashFiles('yarn.lock') }}
        env:
          SEGMENT_DOWNLOAD_TIMEOUT_MINS: 1
      - name: Install packages
        uses: ./.github/actions/install-with-retries
        with:
          # only install binary if cypress cache missed
          skip-cypress-binary: ${{ steps.restore-cypress-cache.outputs.cache-hit }}
      - name: Build ui package
        run: yarn ui build
      - name: Cache cypress runner
        # create new cypress cache entry only if cypress cache missed and we installed a new one.
        if: steps.restore-cypress-cache.outputs.cache-hit != 'true'
        uses: actions/cache@v3
        with:
          path: ~/.cache/Cypress
          key: ${{ runner.os }}-cypress-${{ hashFiles('yarn.lock') }}
      - name: Cache packages/ui/dist
        uses: actions/cache@v3
        with:
          path: ./packages/ui/dist
          key: ${{ runner.os }}-ui-${{ inputs.commit }}
      - name: Cache node_modules
        uses: actions/cache@v3
        with:
          path: |
            ./node_modules
            **/node_modules
          key: ${{ runner.os }}-nodemodules-${{ inputs.commit }}
  unit:
    needs: setup
    runs-on: ubuntu-latest
    env:
      NODE_ENV: test

    strategy:
      matrix:
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
        package:
          - ui
          - angular
          - vue
          - react
          - react-native
          - react-core

    steps:
      - name: Checkout Amplify UI
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.commit }}
          repository: ${{ inputs.repository }}
          persist-credentials: false

      - name: Setup Node.js 16
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'yarn'
        env:
          SEGMENT_DOWNLOAD_TIMEOUT_MINS: 2
      - name: Restore node_modules cache
        uses: actions/cache@v3
        id: restore-cache
        with:
          path: |
            ./node_modules
            **/node_modules
          key: ${{ runner.os }}-nodemodules-${{ inputs.commit }}
        env:
          SEGMENT_DOWNLOAD_TIMEOUT_MINS: 3

      - name: Restore ui/dist cache
        uses: actions/cache@v3
        id: restore-ui-cache
        with:
          path: ./packages/ui/dist
          key: ${{ runner.os }}-ui-${{ inputs.commit }}
        env:
          SEGMENT_DOWNLOAD_TIMEOUT_MINS: 1

      - name: Install packages
        if: steps.restore-cache.outputs.cache-hit != 'true'
        uses: ./.github/actions/install-with-retries

      - name: Build ui package
        if: ${{ steps.restore-ui-cache.outputs.cache-hit != 'true' && matrix.package != 'ui' }}
        run: yarn ui build

      - name: Build react-core package
        if: ${{ matrix.package == 'react' || matrix.package == 'react-native' }}
        run: yarn react-core build

      - name: Build ${{ matrix.package }} package
        if: ${{ matrix.package != 'ui' }}
        run: yarn ${{ matrix.package }} build

      - name: Check ${{ matrix.package }} bundle size
        if: ${{ matrix.package == 'react' }}
        run: yarn react size

      - name: Cache ${{ matrix.package }}/dist
        uses: actions/cache@v3
        with:
          path: ./packages/${{ matrix.package }}/dist
          key: ${{ runner.os }}-${{ matrix.package }}-${{ inputs.commit }}

      - name: Lint packages
        run: yarn ${{ matrix.package }} lint

      - name: Run ${{ matrix.package }} tests
        run: yarn ${{ matrix.package }} test

  e2e:
    # Only run e2e tests if unit tests pass
    needs: [setup, unit]
    runs-on: ubuntu-latest
    environment: ci
    env:
      NODE_ENV: test

    strategy:
      # Run each examples (e.g. `next-example`) which uses a library (e.g. `@aws-amplify/ui-react`)
      # BUT, Exclude `@todo-${{ package }}` tests in PRs
      # See: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#using-environment-variables-in-a-matrix
      matrix:
        include:
          - example: angular
            package: angular
            tags: '@angular and not @todo-angular'

          - example: next
            package: react
            tags: '@react and not @todo-react'

          - example: vue
            package: vue
            tags: '@vue and not @todo-vue'

    steps:
      - name: Checkout Amplify UI
        uses: actions/checkout@v3
        with:
          # For `pull_request_target`, we want ref to point to `pull_request.head.ref` because `github.ref`
          # always points to the target branch.
          # See: https://docs.github.com/en/actions/learn-github-actions/events-that-trigger-workflows
          ref: ${{ inputs.commit }}
          repository: ${{ inputs.repository }}
          persist-credentials: false

      - name: Next.js Cache
        uses: actions/cache@v3
        with:
          path: ${{ github.workspace }}/.next/cache
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/yarn.lock') }}
        env:
          SEGMENT_DOWNLOAD_TIMEOUT_MINS: 1

      - name: Setup Node.js 16
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'yarn'
        env:
          SEGMENT_DOWNLOAD_TIMEOUT_MINS: 2
      - name: Restore cypress runner Cache
        uses: actions/cache@v3
        id: restore-cypress-cache
        with:
          path: ~/.cache/Cypress
          key: ${{ runner.os }}-cypress-${{ hashFiles('yarn.lock') }}
        env:
          SEGMENT_DOWNLOAD_TIMEOUT_MINS: 1

      - name: Restore node_modules cache
        uses: actions/cache@v3
        id: restore-cache
        with:
          path: |
            ./node_modules
            **/node_modules
          key: ${{ runner.os }}-nodemodules-${{ inputs.commit }}
        env:
          SEGMENT_DOWNLOAD_TIMEOUT_MINS: 3

      - name: Restore ui/dist cache
        uses: actions/cache@v3
        id: restore-ui-cache
        with:
          path: ./packages/ui/dist
          key: ${{ runner.os }}-ui-${{ inputs.commit }}

      - name: Restore ${{ matrix.package }}/dist cache
        id: restore-package-cache
        uses: actions/cache@v3
        with:
          path: ./packages/${{ matrix.package }}/dist
          key: ${{ runner.os }}-${{ matrix.package }}-${{ inputs.commit }}
        env:
          SEGMENT_DOWNLOAD_TIMEOUT_MINS: 1

      - name: Install packages
        if: steps.restore-cache.outputs.cache-hit != 'true' || steps.restore-cypress-cache.outputs.cache-hit != 'true'
        uses: ./.github/actions/install-with-retries

      - name: Build @aws-amplify/ui package
        if: steps.restore-ui-cache.outputs.cache-hit != 'true'
        run: yarn ui build

      - name: Build react-core package
        if: ${{ matrix.package == 'react' }}
        run: yarn react-core build

      - name: Build ${{ matrix.package }} package
        if: steps.restore-package-cache.outputs.cache-hit != 'true'
        run: yarn ${{ matrix.package }} build

      - name: Add Amplify CLI
        run: yarn global add @aws-amplify/cli

      - name: Get CLI versions
        id: cli-version
        run: echo "::set-output name=version::$(amplify --version)"

      - name: Create or restore environments cache
        id: environments-cache
        uses: actions/cache@v3
        with:
          path: environments/**/aws-exports.js
          key: ${{ runner.os }}-environments-${{ steps.cli-version.outputs.version }}-${{ hashFiles('environments/**/amplify/**') }}
        env:
          SEGMENT_DOWNLOAD_TIMEOUT_MINS: 1

      # Pulling phone environments from original account,
      - name: Pull down Auth Phone AWS environments, on cache miss
        if: steps.environments-cache.outputs.cache-hit != 'true'
        run: yarn environments auth pull:phone
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Pull down Auth non-phone AWS environments, on cache miss
        if: steps.environments-cache.outputs.cache-hit != 'true'
        run: yarn environments auth pull:non-phone
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID_AUTH }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY_AUTH }}

      - name: Pull down Geo AWS environments, on cache miss
        if: steps.environments-cache.outputs.cache-hit != 'true'
        run: yarn environments geo pull
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID_GEO }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY_GEO }}

      - name: Pull down Storage AWS environments, on cache miss
        if: steps.environments-cache.outputs.cache-hit != 'true'
        run: yarn environments storage pull
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID_STORAGE}}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY_STORAGE}}

      - name: Pull down Datastore AWS environments, on cache miss
        if: steps.environments-cache.outputs.cache-hit != 'true'
        run: yarn environments datastore pull
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID_DATASTORE }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY_DATASTORE }}

      - name: Build ${{ matrix.example }} example
        run: yarn workspace ${{ matrix.example }}-example build

      - name: Start ${{ matrix.example }} example
        run: yarn workspace ${{ matrix.example }}-example start & npx wait-on -c waitOnConfig.json -t 20000 http-get://localhost:3000/ui/components/authenticator/sign-in-with-username

      - name: Run E2E tests against ${{ matrix.example }} example
        run: yarn workspace e2e test:examples
        env:
          # Override on the default value in `cypress.json` with framework-specific tag
          TAGS: '${{ matrix.tags }}'

          # Env values for testing flows
          DOMAIN: ${{ secrets.DOMAIN }}
          PHONE_NUMBER: ${{ secrets.PHONE_NUMBER }}
          USERNAME: ${{ secrets.USERNAME }}
          NEW_PASSWORD: ${{ secrets.NEW_PASSWORD }}
          VALID_PASSWORD: ${{ secrets.VALID_PASSWORD }}
  docs:
    # Only run docs tests if e2e tests pass
    needs: [setup, unit]
    runs-on: ubuntu-latest
    environment: ci
    env:
      NODE_ENV: test
    steps:
      - name: Checkout Amplify UI
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.commit }}
          repository: ${{ inputs.repository }}
          persist-credentials: false

      - name: Setup Node.js 16
        uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'yarn'
        env:
          SEGMENT_DOWNLOAD_TIMEOUT_MINS: 2
      - name: Restore cypress runner Cache
        uses: actions/cache@v3
        id: restore-cypress-cache
        with:
          path: ~/.cache/Cypress
          key: ${{ runner.os }}-cypress-${{ hashFiles('yarn.lock') }}
        env:
          SEGMENT_DOWNLOAD_TIMEOUT_MINS: 1

      - name: Install packages
        run: yarn install

      - name: Build ui package
        run: yarn ui build

      - name: Build react-core package
        run: yarn react-core build

      - name: Build react package
        run: yarn react build

      - name: Build docs package
        run: yarn docs build
        env:
          SITE_URL: ${{ secrets.SITE_URL }}
          DOCSEARCH_DOCS_APP_ID: ${{ secrets.DOCSEARCH_DOCS_APP_ID }}
          DOCSEARCH_DOCS_API_KEY: ${{ secrets.DOCSEARCH_DOCS_API_KEY }}
          DOCSEARCH_DOCS_INDEX_NAME: ${{ secrets.DOCSEARCH_DOCS_INDEX_NAME }}

      - name: Start docs site
        run: yarn docs start & npx wait-on -c waitOnConfig.json -t 20000 http-get://localhost:3000

      - name: Run E2E tests against docs
        run: yarn workspace e2e test:theme
        env:
          # Env values for testing flows
          DOMAIN: ${{ secrets.DOMAIN }}
          PHONE_NUMBER: ${{ secrets.PHONE_NUMBER }}
          USERNAME: ${{ secrets.USERNAME }}
          NEW_PASSWORD: ${{ secrets.NEW_PASSWORD }}
          VALID_PASSWORD: ${{ secrets.VALID_PASSWORD }}
