name: Run Builds

on:
  schedule:
    - cron: '*/20 * * * *' # Run every 20 minutes

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # Paths for each example app we want to test build on
        path:
          - angular/angularcli
          - react/cra
          - react/cra-ts
          - react/next
          - vue/vite
          # - vue/vuecli
    steps:
      - name: Checkout Amplify UI
        uses: actions/checkout@v2
        with:
          persist-credentials: false
      - name: Setup Node.js LTS
        uses: actions/setup-node@v2
        with:
          node-version: lts/*
          cache: 'yarn'
      - name: Ignore monorepo postcss.config.js
        run: mv postcss.config.js _postcss.config.js
      - name: Install packages
        run: yarn install --no-lockfile
        working-directory: ./canary/${{ matrix.path }}
      - name: Build example app
        run: yarn build
        working-directory: ./canary/${{ matrix.path }}

  trigger-failure-alarm:
    # Triggers an alarm if any of builds failed.
    runs-on: ubuntu-latest
    environment: ci
    needs: build
    if: ${{ failure() }}
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - run: aws cloudwatch put-metric-data --metric-name BuildFailure --namespace GithubCanaryApps --value 20

  trigger-sucess-alarm:
    # Triggers an alarm if all the builds succeed
    runs-on: ubuntu-latest
    environment: ci
    needs: build
    if: ${{ success() }}
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - run: aws cloudwatch put-metric-data --metric-name BuildFailure --namespace GithubCanaryApps --value 1
