# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Unit Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      NODE_ENV: test

    strategy:
      matrix:
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
        node-version: [14.x]
        package:
          - '@aws-amplify/ui-core'
          - '@aws-amplify/ui-angular'
          - '@aws-amplify/ui-vue'
          - '@aws-amplify/ui-react'

    steps:
      - name: Checkout Amplify UI
        uses: actions/checkout@v2

      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'

      - name: Install packages
        run: yarn --frozen-lockfile

      - name: Run ${{ matrix.package }} tests
        run: yarn workspace ${{ matrix.package}} test
